.languageDiv{
  margin: 10px auto;
}
.languageDiv .leftPart{
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 2%;
  height: 200px;
  padding: 6px 12px;
  border: 1px solid #dde6e9;
  color: #575962;
  background-color: #dde6e9;
}
.languageDiv .rightPart{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.languageDiv .rightPart textarea{
  padding: 10px;
  min-height: 60px;
}
.langHelpText{
  margin: 5px 5px 15px 5px;
  font-weight: bold;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.paddingTax{
  padding-left: 22px;
}
#adminWrap #content article.module > section .moduleWrap table.striped tr > td.paddingRate{
  padding-left: 18px;
}

/* Disabled translation fields */
input.notTranslatable{
  color: #818181!important;
  background-color: #dce6e9!important;
  cursor: not-allowed;
}
select.notTranslatable{
  color: #818181!important;
  background-color: #dce6e9!important;
  cursor: not-allowed;
}
textarea.notTranslatable{
  color: #818181!important;
  background-color: #dce6e9!important;
  cursor: not-allowed;
}