.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  &.ui-state-disabled{
    .ui-slider-handle, .ui-slider-range {
      filter: inherit;
    }
  }
}
.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -.3em;
    margin-left: -1px;
    & + .ui-slider-handle{
      margin-left: -14px;
    }
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}
.ui-slider-vertical {
  width: .8em;
  height: 100px;
  .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
  }
  .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-range-max {
    top: 0;
  }
}

.priceSlider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  .ui-slider{
    .ui-slider-handle {
      width: 15px;
      height: 15px;
      border: 0px;
      background-image: none;
      background-color: #222222;
      top: -5px;
      cursor: pointer;
      &:before, &:after {
        display: none;
      }
    }
  }
  #slider-range {
    background: #222222;
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    display: inline-block;
    margin: 15px 0px;
    &.hide {
      display: none;
    }
    .ui-widget-header {
      background: #f2f2f2;
      color: #222222;
      font-weight: bold;
      border-radius: 0px;
    }
  }
  #slider-values{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .value {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 80px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #222222;
      &.max{
        float: right;
      }
      #priceMin, #priceMax {
        color: #222222;
        font-size: 15px;
        font-weight: 300;
        border: 0px;
        width: 100%;
        min-width: auto;
        background: transparent;
        text-align: right;
        padding-right: 4px;
      }
    }
  }
}