#adminWrap #content .moduleWrap table tr.error {
  background-color: #f4516c; }
  #adminWrap #content .moduleWrap table tr.error td {
    color: #fff; }
    #adminWrap #content .moduleWrap table tr.error td > * {
      color: inherit !important; }
#adminWrap #content .moduleWrap table tr.alert {
  background-color: #F6BB42; }
  #adminWrap #content .moduleWrap table tr.alert td {
    color: #fff; }
    #adminWrap #content .moduleWrap table tr.alert td > * {
      color: inherit !important; }
#adminWrap #content .moduleWrap table tr.prepared td.version {
  color: #f4516c;
  font-weight: bold; }
#adminWrap #content .moduleWrap table tr.prepared td a[data-action=migrate] {
  font-weight: bold; }
#adminWrap #content .moduleWrap table tr td.right {
  text-align: right; }
#adminWrap #content .moduleWrap table tr td .anchor {
  cursor: pointer;
  border-right: 1px solid #909fa7;
  padding-right: 8px;
  margin-right: 8px; }
  #adminWrap #content .moduleWrap table tr td .anchor:hover {
    opacity: 0.5; }
  #adminWrap #content .moduleWrap table tr td .anchor:last-of-type {
    border: 0;
    margin-right: 0;
    padding-right: 0; }

/*# sourceMappingURL=settings.css.map */
