@import "../../../../adminFiles/css/_styleVariables.scss";

#adminWrap{
  #content{
    .moduleWrap{
      table{
        tr{
          &.error{
            background-color: $btnRed;
            td{
              color: $white;
              & > * {
                color :inherit!important;
              }
            }
          }
          &.alert{
            background-color: $btnOrange;
            td{
              color: $white;
              & > * {
                color :inherit!important;
              }
            }
          }
          &.prepared{
            td{
              &.version{
                color: $btnRed;
                font-weight: bold;
              }
              a[data-action=migrate]{
                font-weight: bold;

              }
            }
          }
          td{
            &.right{
              text-align: right;
            }
            .anchor{
              cursor: pointer;
              border-right: 1px solid $lightgray;
              padding-right: 8px;
              margin-right: 8px;
              &:hover{
                opacity: 0.5;
              }
              &:last-of-type{
                border: 0;
                margin-right: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }
}