/* MODULE STYLE*/
#adminWrap #content .allFiles {
  display: flex;
  flex-wrap: wrap; }
  #adminWrap #content .allFiles .foldersList {
    display: inline-block;
    width: 300px;
    height: auto;
    min-height: 600px;
    background-color: #f4faff;
    color: #575962;
    padding: 10px;
    overflow: auto; }
    #adminWrap #content .allFiles .foldersList ul {
      padding-bottom: 5px;
      margin: 0; }
      #adminWrap #content .allFiles .foldersList ul:last-of-type {
        padding-bottom: 0; }
      #adminWrap #content .allFiles .foldersList ul li {
        padding: 3px 0 3px 10px; }
        #adminWrap #content .allFiles .foldersList ul li:last-of-type {
          padding-bottom: 0; }
        #adminWrap #content .allFiles .foldersList ul li ul {
          margin-left: 20px;
          border-left: 1px solid #dde6e9; }
        #adminWrap #content .allFiles .foldersList ul li .folder i {
          color: #2086e5; }
        #adminWrap #content .allFiles .foldersList ul li .folder span {
          margin-left: 5px;
          font-weight: 600; }
        #adminWrap #content .allFiles .foldersList ul li .folder:hover span, #adminWrap #content .allFiles .foldersList ul li .folder:hover i {
          color: #343a40; }
        #adminWrap #content .allFiles .foldersList ul li.active > .folder {
          position: relative;
          color: #343a40; }
          #adminWrap #content .allFiles .foldersList ul li.active > .folder:before {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 2px;
            left: -5px;
            background-color: #2086e5; }
          #adminWrap #content .allFiles .foldersList ul li.active > .folder span, #adminWrap #content .allFiles .foldersList ul li.active > .folder i {
            color: inherit;
            font-weight: 700; }
        #adminWrap #content .allFiles .foldersList ul li.active > i + .folder:before {
          display: none; }
        #adminWrap #content .allFiles .foldersList ul li.hasChild {
          margin-left: -16px; }
          #adminWrap #content .allFiles .foldersList ul li.hasChild > i {
            margin-right: 1px; }
      #adminWrap #content .allFiles .foldersList ul.root > li > ul {
        border-left: 0;
        margin-left: -9px; }
  #adminWrap #content .allFiles .filesList {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
    padding-left: 20px; }
    #adminWrap #content .allFiles .filesList .mediaButtons {
      margin-bottom: 30px; }
      #adminWrap #content .allFiles .filesList .mediaButtons .btn {
        vertical-align: top;
        margin-right: 15px; }
      #adminWrap #content .allFiles .filesList .mediaButtons .newFolder {
        display: inline-block;
        min-width: 400px; }
        #adminWrap #content .allFiles .filesList .mediaButtons .newFolder.hide {
          display: none; }
        #adminWrap #content .allFiles .filesList .mediaButtons .newFolder form {
          width: 100%;
          text-align: left !important; }
          #adminWrap #content .allFiles .filesList .mediaButtons .newFolder form input {
            width: calc(100% - 120px) !important; }
            #adminWrap #content .allFiles .filesList .mediaButtons .newFolder form input[type=submit] {
              width: 100px !important;
              margin-left: 10px;
              cursor: pointer;
              background-color: #7bcb4d !important;
              border-color: #7bcb4d !important;
              color: white !important;
              border-radius: 2px !important; }
    #adminWrap #content .allFiles .filesList .filesWrap .imageBox {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 185px;
      height: 185px;
      margin: 15px 20px 15px 0;
      text-align: center; }
      #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image {
        display: block;
        vertical-align: top;
        position: relative;
        width: inherit;
        height: inherit;
        text-align: center;
        border: 1px solid #2086e5;
        background: #fff;
        padding: 5px; }
        #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .wrap {
          width: 100%;
          height: calc(100% - 40px);
          box-sizing: border-box;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          text-align: center; }
          #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .wrap img {
            max-width: 100%;
            width: auto; }
            #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .wrap img.svgIcon {
              width: 70%;
              max-height: 70%; }
          #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .wrap .imageInfo {
            display: none; }
        #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions {
          display: flex;
          height: 30px;
          justify-content: flex-end;
          align-items: center;
          font-size: 16px;
          margin-bottom: 10px;
          padding-top: 10px;
          border-top: 1px solid #dde6e9; }
          #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions .action {
            cursor: pointer;
            margin: 0 5px;
            flex: 0 20%; }
            #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions .action.external {
              position: absolute;
              top: 0;
              right: 0; }
            #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions .action.changeImageStatus.active.head {
              color: #F6BB42 !important; }
            #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions .action.changeImageStatus.active.group {
              color: #F6BB42 !important; }
          #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions .selectImage {
            margin: 0 auto; }
          #adminWrap #content .allFiles .filesList .filesWrap .imageBox .image .actions input[type="checkbox"] {
            display: none;
            visibility: hidden; }
      #adminWrap #content .allFiles .filesList .filesWrap .imageBox .name {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #adminWrap #content .allFiles .filesList .filesWrap .imageBox.selected .image {
        border-color: #7bcb4d; }
    #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock {
      display: none;
      background-color: #f4faff;
      padding: 10px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock h2 {
        font-size: 16px !important; }
      #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .rowBox {
        display: inline-block;
        width: 49%;
        margin-right: 2%; }
        #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .rowBox.last {
          margin-right: 0; }
        #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .rowBox h5 {
          font-size: 14px !important; }
      #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .optionsAll {
        margin-top: 5px; }
        #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .optionsAll .option {
          display: inline-block;
          margin-right: 5px; }
          #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .optionsAll .option a {
            font-size: 14px; }
            #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock .optionsAll .option a h5 {
              font-size: inherit !important; }
      #adminWrap #content .allFiles .filesList .filesWrap .detailsWrap .infoBlock.opened {
        display: block; }
  #adminWrap #content .allFiles .addFileWrap {
    width: 100%;
    margin-bottom: 20px; }
    #adminWrap #content .allFiles .addFileWrap .limit_files {
      display: block;
      color: #909fa7;
      font-size: 90%; }
  #adminWrap #content .allFiles.full .filesList {
    padding-left: 0;
    width: 100%; }
  #adminWrap #content .allFiles.ajaxBox {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #2086e5; }
    #adminWrap #content .allFiles.ajaxBox .foldersList {
      height: 100%; }
    #adminWrap #content .allFiles.ajaxBox .filesList {
      height: 100%;
      padding-top: 15px; }
      #adminWrap #content .allFiles.ajaxBox .filesList form {
        height: inherit; }
        #adminWrap #content .allFiles.ajaxBox .filesList form .filesWrap {
          overflow: auto;
          height: calc(100% - 110px); }
      #adminWrap #content .allFiles.ajaxBox .filesList #ajaxUpload {
        padding-right: 25px; }
    #adminWrap #content .allFiles.ajaxBox .mediaButtons .returnInfo {
      display: inline-block;
      vertical-align: middle; }
      #adminWrap #content .allFiles.ajaxBox .mediaButtons .returnInfo .return {
        margin: 5px 0 0;
        font-weight: 700; }
        #adminWrap #content .allFiles.ajaxBox .mediaButtons .returnInfo .return.true {
          color: #7bcb4d; }
        #adminWrap #content .allFiles.ajaxBox .mediaButtons .returnInfo .return.false {
          color: #f4516c; }
    #adminWrap #content .allFiles.ajaxBox .mediaButtons .btn.disabled {
      color: #575962;
      background-color: rgba(0, 0, 0, 0.1);
      border-color: rgba(0, 0, 0, 0.1); }
      #adminWrap #content .allFiles.ajaxBox .mediaButtons .btn.disabled:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        cursor: not-allowed; }
      #adminWrap #content .allFiles.ajaxBox .mediaButtons .btn.disabled:hover {
        opacity: 1; }
    #adminWrap #content .allFiles.ajaxBox #pagination {
      margin: 8px auto 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #adminWrap #content .allFiles.ajaxBox #pagination b {
        font-weight: 100; }
      #adminWrap #content .allFiles.ajaxBox #pagination .wrap .cont {
        margin-right: 25px; }
        #adminWrap #content .allFiles.ajaxBox #pagination .wrap .cont.inverted {
          color: #575962;
          background-color: rgba(0, 0, 0, 0.1);
          border-color: rgba(0, 0, 0, 0.1);
          cursor: not-allowed; }
          #adminWrap #content .allFiles.ajaxBox #pagination .wrap .cont.inverted:hover {
            color: #575962;
            background-color: rgba(0, 0, 0, 0.1);
            border-color: rgba(0, 0, 0, 0.1); }
#adminWrap #content .fileUpload {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #adminWrap #content .fileUpload #drag-and-drop-zone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    height: 250px;
    border: 3px dashed #dde6e9; }
    #adminWrap #content .fileUpload #drag-and-drop-zone h3 {
      margin-bottom: 10px; }
    #adminWrap #content .fileUpload #drag-and-drop-zone label input {
      display: none; }
    #adminWrap #content .fileUpload #drag-and-drop-zone.active {
      border-color: #F6BB42; }
      #adminWrap #content .fileUpload #drag-and-drop-zone.active label {
        background-color: transparent;
        border-color: #dde6e9;
        color: #343a40; }
  #adminWrap #content .fileUpload #files {
    width: 100%; }
    #adminWrap #content .fileUpload #files .media {
      display: inline-flex;
      vertical-align: bottom;
      align-items: center;
      width: 33%; }
      #adminWrap #content .fileUpload #files .media .media-image {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        color: #e6eaec; }
        #adminWrap #content .fileUpload #files .media .media-image .preview-img {
          max-width: 90%;
          max-height: 100%; }
        #adminWrap #content .fileUpload #files .media .media-image i {
          font-size: 40px; }
        #adminWrap #content .fileUpload #files .media .media-image b {
          width: 80%;
          text-align: center;
          font-size: 10px; }
      #adminWrap #content .fileUpload #files .media .media-body {
        display: inline-block;
        width: calc(95% - 150px); }
        #adminWrap #content .fileUpload #files .media .media-body .status {
          margin-bottom: 0; }
          #adminWrap #content .fileUpload #files .media .media-body .status strong {
            display: block;
            margin-bottom: 5px; }
        #adminWrap #content .fileUpload #files .media .media-body .progress {
          display: block;
          width: 100%;
          height: 25px;
          background-color: #dde6e9;
          border-radius: 2px;
          color: #fff;
          text-align: center; }
          #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: inherit;
            text-align: center;
            transition: width .6s ease; }
            #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar.bg-success {
              background-color: #7bcb4d; }
            #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar.bg-warning, #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar.bg-error {
              background-color: #f4516c; }
            #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar.bg-upload {
              background-color: #F6BB42; }
          #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar-striped {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem; }
          #adminWrap #content .fileUpload #files .media .media-body .progress .progress-bar-animated {
            animation: progress-bar-stripes 1s linear infinite;
            background-color: #2086e5; }

#cboxContent #cboxClose {
  position: absolute;
  display: none;
  right: 25px;
  top: 15px;
  height: 33px;
  overflow: hidden;
  padding-left: 20px;
  font-size: 18px; }
#cboxContent #cboxLoadedContent #adminWrap {
  display: block; }
  #cboxContent #cboxLoadedContent #adminWrap #content {
    display: block;
    width: 100%;
    height: inherit; }

@keyframes progress-bar-stripes {
  from {
    background-position: 25px 0; }
  to {
    background-position: 0 0; } }

/*# sourceMappingURL=mediaManager.css.map */
