@import "../../../../Panel/assets/styles/_styleVariables";

$barSizeH: 600px;
$sizeW: 185px;
$sizeH: 185px;
$uploadH: 250px;

/* MODULE STYLE*/
#adminWrap {
  #content {
    .allFiles {
      display: flex;
      flex-wrap: wrap;
      .foldersList {
        display: inline-block;
        width: 300px;
        height: auto;
        min-height: $barSizeH;
        background-color: $lightBlue;
        color: $darkblue;
        padding: 10px;
        overflow: auto;
        ul {
          padding-bottom: 5px;
          &:last-of-type {
            padding-bottom: 0;
          }
          margin: 0;
          li {
            padding: 3px 0 3px 10px;
            &:last-of-type {
              padding-bottom: 0;
            }
            ul {
              margin-left: 20px;
              border-left: 1px solid $borderColor;
            }
            .folder {
              i {
                color: $blue;
              }
              span {
                margin-left: 5px;
                font-weight: 600;
              }
              &:hover {
                span, i {
                  color: $dark;
                }
              }
            }
            &.active {
              & > .folder {
                position: relative;
                color: $dark;
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  height: 100%;
                  width: 2px;
                  left: -5px;
                  background-color: $blue;
                }
                span, i {
                  color: inherit;
                  font-weight: 700;
                }
              }
              & > i + .folder {
                &:before {
                  display: none;
                }
              }
            }
            &.hasChild{
              margin-left: -16px;
              & > i{
                margin-right: 1px;
              }
            }
          }
          &.root {
            & > li > ul {
              border-left: 0;
              margin-left: -9px;
            }
          }
        }
      }
      .filesList {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 300px);
        padding-left: 20px;
        .mediaButtons {
          margin-bottom: 30px;
          .btn {
            vertical-align: top;
            margin-right: 15px;
          }
          .newFolder {
            display: inline-block;
            min-width: 400px;
            &.hide {
              display: none;
            }
            form {
              width: 100%;
              text-align: left !important;
              input {
                width: calc(100% - 120px) !important;
                &[type=submit] {
                  width: 100px !important;
                  margin-left: 10px;
                  cursor: pointer;
                  background-color: $btnGreen !important;
                  border-color: $btnGreen !important;
                  color: white !important;
                  border-radius: 2px !important;
                }
              }
            }
          }
        }
        .filesWrap {
          .imageBox {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: $sizeW;
            height: $sizeH;
            margin: 15px 20px 15px 0;
            text-align: center;
            .image {
              display: block;
              vertical-align: top;
              position: relative;
              width: inherit;
              height: inherit;
              text-align: center;
              border: 1px solid $blue;
              background: $white;
              padding: 5px;
              .wrap {
                width: 100%;
                height: calc(100% - 40px);
                box-sizing: border-box;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                text-align: center;
                img {
                  max-width: 100%;
                  width: auto;
                  &.svgIcon{
                    width: 70%;
                    max-height: 70%;
                  }
                }
                .imageInfo {
                  display: none;
                }
              }
              .actions {
                display: flex;
                height: 30px;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                margin-bottom: 10px;
                padding-top: 10px;
                border-top: 1px solid $borderColor;
                .action {
                  cursor: pointer;
                  margin: 0 5px;
                  flex: 0 20%;
                  &.external {
                    position: absolute;
                    top: 0;
                    right: 0;
                  }
                  &.changeImageStatus {
                    &.active {
                      &.head {
                        color: $btnOrange !important;
                      }
                      &.group {
                        color: $btnOrange !important;
                      }
                    }
                  }
                }
                .selectImage {
                  margin: 0 auto;
                }
                input[type="checkbox"] {
                  display: none;
                  visibility: hidden;
                }
              }
            }
            .name {
              display: block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.selected {
              .image {
                border-color: $btnGreen;
              }
            }
          }
          .detailsWrap {
            .infoBlock {
              display: none;
              background-color: $lightBlue;
              padding: 10px;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              h2 {
                font-size: 16px !important;
              }
              .rowBox {
                display: inline-block;
                width: 49%;
                margin-right: 2%;
                &.last {
                  margin-right: 0;
                }
                h5 {
                  font-size: 14px !important;
                }
              }
              .optionsAll {
                margin-top: 5px;
                .option {
                  display: inline-block;
                  margin-right: 5px;
                  a {
                    font-size: 14px;
                    h5 {
                      font-size: inherit !important;
                    }
                  }
                }
              }
              &.opened {
                display: block;
              }
            }
          }
        }
      }
      .addFileWrap {
        width: 100%;
        margin-bottom: 20px;
        .limit_files{
          display: block;
          color: $lightgray;
          font-size: 90%;
        }
      }
      &.full {
        .filesList {
          padding-left: 0;
          width: 100%;
        }
      }
      &.ajaxBox {
        width: 100%;
        height: 100%;
        background-color: $white;
        border: 2px solid $blue;
        .foldersList {
          height: 100%;
        }
        .filesList {
          height: 100%;
          padding-top: 15px;
          form {
            height: inherit;
            .filesWrap {
              overflow: auto;
              height: calc(100% - 110px);
            }
          }
          #ajaxUpload{
            padding-right: 25px;
          }
        }
        .mediaButtons {
          .returnInfo {
            display: inline-block;
            vertical-align: middle;
            .return {
              margin: 5px 0 0;
              font-weight: 700;
              &.true {
                color: $btnGreen;
              }
              &.false {
                color: $btnRed;
              }
            }
          }
          .btn {
            &.disabled {
              color: $darkblue;
              background-color: rgba(0, 0, 0, 0.1);
              border-color: rgba(0, 0, 0, 0.1);
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                cursor: not-allowed;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        #pagination {
          margin: 8px auto 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          b {
            font-weight: 100;
          }
          .wrap {
            .cont {
              margin-right: 25px;
              &.inverted {
                color: $darkblue;
                background-color: rgba(0, 0, 0, 0.1);
                border-color: rgba(0, 0, 0, 0.1);
                cursor: not-allowed;
                &:hover {
                  color: $darkblue;
                  background-color: rgba(0, 0, 0, 0.1);
                  border-color: rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }
    .fileUpload {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      #drag-and-drop-zone {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;
        height: $uploadH;
        border: 3px dashed $borderColor;
        h3 {
          margin-bottom: 10px;
        }
        label {
          input {
            display: none;
          }
        }
        &.active {
          border-color: $btnOrange;
          label {
            background-color: transparent;
            border-color: $borderColor;
            color: $dark;
          }
        }
      }
      #files {
        width: 100%;
        .media {
          display: inline-flex;
          vertical-align: bottom;
          align-items: center;
          width: 33%;
          .media-image {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            color: $light;
            .preview-img {
              max-width: 90%;
              max-height: 100%;
            }
            i{
              font-size: 40px;
            }
            b{
              width: 80%;
              text-align: center;
              font-size: 10px;
            }
          }
          .media-body {
            display: inline-block;
            width: calc(95% - 150px);
            .status{
              margin-bottom: 0;
              strong{
                display: block;
                margin-bottom: 5px;
              }
            }
            .progress {
              display: block;
              width: 100%;
              height: 25px;
              background-color: $borderColor;
              border-radius: 2px;
              color: $white;
              text-align: center;
              .progress-bar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: inherit;
                text-align: center;
                transition: width .6s ease;
                &.bg-success{
                  background-color: $btnGreen;
                }
                &.bg-warning, &.bg-error{
                  background-color: $btnRed;
                }
                &.bg-upload{
                  background-color: $btnOrange;
                }
              }
              .progress-bar-striped {
                background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
                background-size: 1rem 1rem;
              }
              .progress-bar-animated {
                animation: progress-bar-stripes 1s linear infinite;
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

#cboxContent {
  #cboxClose {
    position: absolute;
    display: none;
    right: 25px;
    top: 15px;
    height: 33px;
    overflow: hidden;
    padding-left: 20px;
    font-size: 18px;
  }
  #cboxLoadedContent {
    #adminWrap {
      display: block;
      #content {
        display: block;
        width: 100%;
        height: inherit;
      }
    }
  }
}
@keyframes progress-bar-stripes {
  from { background-position: 25px 0; }
  to { background-position: 0 0; }
}