/* IMPORT ADMIN LAYOUT VARIBALES */
@import "../../../../Panel/assets/styles/_styleVariables";


/* MODULE STYLE*/
.inputLabels{
  h3{
    margin-bottom: 15px;
  }
}
.categoryCheck{
  padding: 6px 12px;
  border: 1px solid $borderColor;
  li{
    list-style-type: none;
    i{
      font-size: 14px;
      width: 15px;
      margin-right: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
    }
    ul{
      display:none;
      margin: 4px 0px 4px 19.2px;
    }
  }
}
#adminWrap{
  #content{
    article.module > section .moduleWrap table.striped tr > td i.groups{
      margin-left: 20px;
      color: $blue;
      font-weight: 400;
      font-size: 12px;
      cursor: default;
    }
    article.module{
      section{
        .moduleWrap{
          input.customAnchor{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
