/* IMPORT ADMIN LAYOUT VARIBALES */
/* MODULE STYLE*/
.inputLabels h3 {
  margin-bottom: 15px; }

.categoryCheck {
  padding: 6px 12px;
  border: 1px solid #dde6e9; }
  .categoryCheck li {
    list-style-type: none; }
    .categoryCheck li i {
      font-size: 14px;
      width: 15px;
      margin-right: 5px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle; }
    .categoryCheck li ul {
      display: none;
      margin: 4px 0px 4px 19.2px; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td i.groups {
  margin-left: 20px;
  color: #2086e5;
  font-weight: 400;
  font-size: 12px;
  cursor: default; }
#adminWrap #content article.module section .moduleWrap input.customAnchor {
  margin-bottom: 5px; }

/*# sourceMappingURL=cmsStyle.css.map */
