.groupedHelpers{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.groupedHelpers label{
  display: inline-block;
  margin: 5px;
  border: 1px solid silver;
  padding: 5px 7px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;
}
.groupedHelpers label:hover{
  color: #fff;
  background-color: #545b65;
  border-color: #545b65;
}