.Template_class .save {
    float: right;
    margin: 20px 0px;
}
.Template_class .module_wrap {
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.Template_class .module_wrap_only {
    display: inline-block;
    width: 100%;
}
.Template_class .left_part {
    display: inline-block;
    width: 58%;
    margin-right: 1%;
}
.Template_class .right_part {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.Template_class .right_part .tab_content {
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.Template_class .right_part .tab_content #generate span{
    cursor: pointer;
    font-size: 15px;
    text-align: right;
    width: 100%;
    display: block;
}
.Template_class .right_part .help{
    margin-top: -6px;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.Template_class .right_part .help b{
    font-weight: 500;
}
.Template_class .tabs {
    background: #5A588F;
    display: inline-block;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    margin: 5px 4px 0px 0px;
}
.Template_class .tabs.active {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #CCCCCC;
    border-bottom: 0px;
}
.Template_class .tabs:hover{
    text-decoration:none;
    cursor: pointer;
}
.Template_class .category_check li{
    list-style-type: none;
}
.Template_class .category_check li ul{
    display:none;
    margin: 4px 0px 4px 19.2px;
}
.Template_class .category_check input[type=checkbox] {
    cursor: pointer;
    min-width: auto;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin: 0 0.5em 0 0;
    padding: 0;
    border: none;
}
.Template_class .category_check label {
    cursor: pointer;
}
.Template_class .category_check li i{
    font-size: 17px;
    margin-right: 5px;
    cursor: pointer;    
}
.Template_class .category_check.overflowed{
    max-height: 492px;
    width: 100%;
    overflow-x: auto;
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    border: 1px solid #CCCCCC;
    padding: 10px;
    vertical-align: top;
}
.Template_class .three_box{
    display: block;
}
.Template_class .grouped_labels label{
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
.Template_class .grouped_labels span.labeled{
    margin: 0px 2px;
}
.Template_class .grouped_labels input[type="radio"]{
  display:none;
} 
.Template_class .grouped_labels span.labeled span{
  padding: 5px;
  border: 1px solid #5a588f;
}
.Template_class .grouped_labels input[type="radio"]:checked + span {
  background-color: #a09ebe;
  color: #fff;
}

.delete{cursor: pointer;}
.clear{clear:both;float:none;}

.moduleWrap.templateList table.striped tr td:first-of-type i{
    font-weight: 400!important;
    font-size: 12px!important;
}