$white: #fff;
$blue: #2086e5;
$dark: #343a40;
$darkblue: #575962;
$lightgray: #909fa7;
$light: #e6eaec;
$lightBlue: #f4faff;
$disabledColor: #d6d4d4;
$lightBg: #f5f5f5;

$borderColor: #dde6e9;

$btnGreen: #7bcb4d;
$btnRed: #f4516c;
$btnOrange: #F6BB42;

$rootFontSize: 16px;
@function calculateRem($size) {
  $remSize: $size / $rootFontSize;
  @return #{$remSize}rem;
}
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}