@import "_styleVariables";

//TODO: ReFactor basic CSS to SCSS style

/* RESET */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body {
  height: 100%;
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  text-decoration: none;
  vertical-align: middle;
}

:hover, :focus, :visited, :link {
  outline: none;
  color: inherit;
}

*:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

i:focus, button:focus, img:focus {
  outline: none;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

.align{
  &-right{
    text-align: right;
  }
  &-left{
    text-align: left;
  }
  &-center{
    text-align: center;
  }
}
.display{
  &-none{
    display: none;
  }
}

.cursor{
  &-pointer{
    cursor: pointer;
  }
}

/* DEFAULT STYLE */
body {
  font-family: "Open Sans", sans-serif;
  color: $dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f3f5f7;
}
.display{
  &-flex{
    display: flex;
  }
}

#colorbox {
  z-index: 999;
}

/* LAYOUT WRAP */
#adminWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

/* LAYOUT - Sidebar */
#adminWrap #sidebar {
  display: table-cell;
  position: relative;
  width: 240px;
  background-color: $white;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
  z-index: 10;
  .appInfo {
    display: block;
    text-align: center;
    border-bottom: 1px solid $darkblue;
    margin-bottom: 15px;
    padding: 20px 0px 10px;
    h1 {
      display: block;
      font-family: 'Montserrat';
      font-size: 26px;
      font-weight: 700;
    }
    .build {
      display: block;
      font-size: 12px;
      color: $lightgray;
    }
  }
  .adminInfo {
    display: block;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px;
    .name {
      display: block;
      font-size: 20px;
      font-weight: 500;
    }
    .level {
      display: block;
      font-size: 14px;
      color: $lightgray;
      font-family: 'Montserrat';
    }
  }
}

/* LAYOUT - Sidebar - Navigation */
#adminWrap #sidebar .navigation {
  li.link {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    border-left: 3px solid transparent;
    color: #818181;
    margin-bottom: 5px;
    a {
      display: inline-block;
      width: 100%;
      padding: 10px;
      &:hover {
        text-decoration: none;
      }
      .icon {
        margin-right: 15px;
      }
      .text {
        display: inline-block;
        width: calc(100% - 45px);
      }
    }
    .arrow {
      position: absolute;
      right: 5px;
      top: 0px;
      padding: 10px;
      cursor: pointer;
    }
    &.hasChild {
      & > .submenu {
        display: none;
        li a {
          padding: 5px 0px 5px 40px;
          color: #818181;
          &:hover, &.active {
            background-color: rgba(32, 134, 229, 0.15);
            color: #1a93d2;
          }
        }
      }
      &.active > .submenu {
        display: block;
        padding-bottom: 15px;
      }
      .arrow:after {
        display: block;
        font-family: FontAwesome;
        content: '\f0da';
      }
      &.active .arrow:after {
        content: '\f0d7';
        color: $blue;
      }
    }
    &.active {
      border-left: 3px solid $blue;
      background-color: #f4faff;
    }
    &:hover {
      background-color: #f4faff;
    }
    &.active a, &:hover a {
      color: $blue;
    }
  }
}

/* LAYOUT - Content */
#adminWrap #content {
  display: table-cell;
  position: relative;
  width: calc(100% - 240px);
  vertical-align: top;
}

/* LAYOUT - Toolbar */
#adminWrap #content #toolbar {
  background-color: $blue;
  color: $white;
  padding: 0px 15px;
}

#adminWrap #content #toolbar .icon {
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat';
}

#adminWrap #content #toolbar .icon i {
  color: inherit;
  font-size: 18px;
  font-weight: 100;
}

#adminWrap #content #toolbar .menuToggle {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}

#adminWrap #content #toolbar .toolsList {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
  text-align: right;
}

#adminWrap #content #toolbar .toolsList > li {
  display: inline-block;
  vertical-align: middle;
}

#adminWrap #content #toolbar .toolsList .icon {
  display: inline-block;
  padding: 10px 20px;
}

#adminWrap #content #toolbar .toolsList .icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#adminWrap #content #toolbar .dropdown {
  position: relative;
  ul {
    display: none;
    position: absolute;
    right: 0px;
    top: 45px;
    background: $white;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    color: $darkblue;
    padding: 10px 0px;
    z-index: 9;
    & > li {
      display: block;
      cursor: pointer;
      .text {
        color: inherit;
        padding: 5px 23px;
        display: inline-block;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
      .icon {
        display: block;
        text-align: left;
        padding: 5px 20px;
        &:hover {
          -webkit-transition: all 0s;
          -moz-transition: all 0s;
          -o-transition: all 0s;
          transition: all 0s;
        }
        b {
          margin-left: 5px;
        }
        i {
          vertical-align: middle;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
    }
    & > .role {
      display: block;
      text-align: center;
      font-size: 80%;
      margin: -10px 0 0;
      font-weight: 600;
    }
  }
  &.collapsed ul {
    display: block;
  }
}

/* LAYOUT - Breadcrumbs */
#adminWrap #content #breadcrumbs {
  background-color: $white;
  padding: 15px 35px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

#adminWrap #content #breadcrumbs .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px;
}

#adminWrap #content #breadcrumbs .pageTitle {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat';
  margin: 0px;
}

#adminWrap #content #breadcrumbs .crumbs {
  color: $darkblue;
}

#adminWrap #content #breadcrumbs .crumbs li {
  display: inline-block;
  vertical-align: middle;
}

#adminWrap #content #breadcrumbs .crumbs li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#adminWrap #content #breadcrumbs .crumbs li:hover > a {
  color: $blue;
}

#adminWrap #content #breadcrumbs .crumbs li + li:before {
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  padding: 0px 10px;
  color: $lightgray;
  content: "\f105";
}

#adminWrap #content #breadcrumbs .crumbs li:last-of-type > a {
  color: $lightgray;
}

/* LAYOUT - Content container  */
#adminWrap #content {
  position: relative;
  #container {
    padding: 35px;
    position: relative;
  }
  #contentLoader {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .icon {
      display: inline-block;
      width: 200px;
      height: 200px;
      background: url("../images/adminLoader.gif") no-repeat;
    }
  }
}

/* LAYOUT - Content - Typography */
#adminWrap #content {
  h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    i {
      font-size: 65%;
      font-style: normal;
      color: $lightgray;
    }
  }
  h4 {
    font-size: 15px;
    margin-bottom: 6px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

/* Buttons - default hover is blue */
.btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  background-color: $white;
  border-color: $borderColor;
  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    opacity: 0.9;
  }
  &.small {
    padding: 2px 15px;
    font-size: 12px;
  }
  &.big {
    padding: 8px 30px;
    font-size: 16px;
  }
  &.success {
    background-color: $btnGreen;
    border-color: $btnGreen;
    color: $white;
  }
  &.error {
    background-color: $btnRed;
    border-color: $btnRed;
    color: $white;
  }
  &.warning {
    background-color: $btnOrange;
    border-color: $btnOrange;
    color: $white;
  }
  &.inverted {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    &:hover {
      background-color: $white;
      border-color: $borderColor;
      color: inherit;
    }
  }
  &.success.inverted {
    background-color: transparent;
    border-color: $btnGreen;
    color: $btnGreen;
    &:hover {
      background-color: $btnGreen;
      border-color: $borderColor;
      color: $white;
    }
  }
  &.error.inverted {
    background-color: transparent;
    border-color: $btnRed;
    color: $btnRed;
    &:hover {
      background-color: $btnRed;
      border-color: $btnRed;
      color: $white;
    }
  }
  &.warning.inverted {
    background-color: transparent;
    border-color: $btnOrange;
    color: $btnOrange;
    &:hover {
      background-color: $btnOrange;
      border-color: $btnOrange;
      color: $white;
    }
  }
  &.icon {
    position: relative;
    padding-left: 50px;
    &:before {
      content: "";
      font-family: "FontAwesome";
      position: absolute;
      height: 100%;
      width: 40px;
      line-height: 33px;
      text-align: center;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.small {
      padding-left: 40px;
      &:before {
        width: 30px;
        line-height: 24px;
      }
    }
    &.big {
      padding-left: 90px;
      &:before {
        width: 60px;
        line-height: 42px;
      }
    }
    &.back:before {
      content: "\f112";
    }
    &.save:before {
      content: "\f0c7";
    }
    &.cancel:before {
      content: "\f00d";
    }
    &.add:before {
      content: "\f067";
    }
    &.down:before {
      content: "\f149";
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
    &.pdf:before {
      content: "\f1c1";
    }
    &.hide:before {
      content: "\f070";
    }
    &.refresh:before {
      content: "\f021";
    }
    &.search:before {
      content: "\f002";
    }
    &.folder-open:before {
      content: "\f115";
    }
    &.trash:before {
      content: "\f014";
    }
  }
  &.empty {
    width: auto;
    height: 33px;
    padding: 0 15px;
    &:before {
      width: 100%;
    }
    &.mg-l {
      margin-left: 5px;
    }
  }
}

/* Floats */
#adminWrap #content .fl-right {
  float: right;
}

#adminWrap #content .fl-left {
  float: left;
}

#adminWrap #content .noCursor {
  cursor: default !important;
}

/* Colors - for text */
#adminWrap #content .red {
  color: $btnRed !important;
}

#adminWrap #content .green {
  color: $btnGreen !important;
}

#adminWrap #content .blue {
  color: $blue !important;
}

#adminWrap #content .gray {
  color: $lightgray !important;
}

#adminWrap #content .orange {
  color: $btnOrange !important;
}

/* LAYOUT - Content - Modules */
#adminWrap #content article.module {
  display: block;
  background-color: $white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  border-radius: 2px;
}

#adminWrap #content article.module > header {
  display: block;
  border-bottom: 1px solid $light;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

#adminWrap #content article.module > header h2 {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 80%;
  padding-right: 10%;
  margin-bottom: 0px !important;
  line-height: 33px;
}

#adminWrap #content article.module > header h2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  height: 3px;
  width: 90%;
  background-color: $blue;
}

#adminWrap #content article.module > header h2 .activeLang {
  color: $btnRed;
  margin-left: 10px;
  font-style: normal;
  font-weight: 100;
}

#adminWrap #content article.module > header .options {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: right;
}

#adminWrap #content article.module > header .options .btn + .btn {
  margin-left: 20px;
}

#adminWrap #content article.module > section .moduleWrap {
  text-align: left;
}

#adminWrap #content article.module .helpText {
  color: $darkblue;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(87, 89, 98, 0.15);
  .infoIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: calc(100% - 25px);
    a {
      color: $blue;
    }
  }
  &.negativeMargin {
    margin-top: -10px;
  }
}

/* Tables */
#adminWrap #content article.module > section .moduleWrap table.striped {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
}

#adminWrap #content article.module > section .moduleWrap > table.striped {
  margin: 20px auto;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr {

}

#adminWrap #content article.module > section .moduleWrap table.striped tr > th, #adminWrap #content article.module > section .moduleWrap table.striped tr > td {
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding: 5px;
}
#adminWrap #content article.module > section .moduleWrap table.striped.wrapped tr > th, #adminWrap #content article.module > section .moduleWrap table.striped.wrapped tr > td {
  word-break: break-word;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > th {
  font-weight: 600;
  font-family: 'Montserrat';
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td {
  border-top: 1px solid $light;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr:nth-of-type(even) > td {
  background-color: rgba(230, 234, 236, 0.2);
}

#adminWrap #content article.module > section .moduleWrap table.striped tr:hover > td {
  background-color: rgba(32, 133, 228, 0.12);
}

#adminWrap #content article.module > section .moduleWrap table.striped tr.spacer > td {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions {
  width: 300px;
  text-align: right;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions .anchor {
  cursor: pointer;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions .anchor:hover {
  opacity: 0.5;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td i {
  cursor: pointer;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr td .activeLang {
  text-transform: uppercase;
  width: 30px;
  text-align: center;
  display: inline-block;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > td .visibility {
  font-size: 18px;
  cursor: pointer;
  & > i {
    font-size: inherit !important;
    cursor: inherit !important;
  }
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > .center {
  text-align: center;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr > .right {
  text-align: right;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr.blue td {
  padding-top: 20px;
  border-top: 0px;
  border-bottom: 1px solid #2285e5;
  font-weight: 600;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr.blue td i {
  font-weight: 400;
  font-size: 12px;
  cursor: default;
}

#adminWrap #content article.module > section .moduleWrap table.striped tr td {
  &:first-of-type, &:nth-of-type(2) {
    i {
      font-weight: 400;
      font-size: 12px;
      cursor: default;
      margin: 0px 2px 0px 0px;
      color: $dark;
    }
  }
}

#adminWrap #content article.module > section .moduleWrap table.striped tr td {
  .colorQ {
    min-width: 30px;
    width: 100%;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .small {
    font-size: 12px;
  }
}

/* Form elements */
#adminWrap #content article.module > section form {
  text-align: right;
}
#adminWrap #content article.module > section form.text-left {
  text-align: left;
}

#adminWrap #content article.module > section .moduleWrap input {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid $borderColor;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: $darkblue;
  background-color: $white;
}

#adminWrap #content article.module > section .moduleWrap input:focus {
  border: 1px solid $blue;
}

#adminWrap #content article.module > section .moduleWrap input:disabled, #adminWrap #content article.module > section .moduleWrap input[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

#adminWrap #content article.module > section .moduleWrap textarea {
  display: inline-block;
  width: 100%;
  height: 200px;
  padding: 6px 12px;
  border: 1px solid $borderColor;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: $darkblue;
  background-color: $white;
  &.auto {
    height: auto;
  }
}

#adminWrap #content article.module > section .moduleWrap textarea:focus {
  border: 1px solid $blue;
}

#adminWrap #content article.module > section .moduleWrap textarea:disabled, #adminWrap #content article.module > section .moduleWrap textarea[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

#adminWrap #content article.module > section .moduleWrap .mce-container {
  box-shadow: none;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: $darkblue;
  background-color: $white;
}

#adminWrap #content article.module > section .moduleWrap .mce-panel {
  border-color: $borderColor;
  box-shadow: none;
}

#adminWrap #content article.module > section .moduleWrap select {
  display: inline-block;
  width: 100%;
  padding: 5px 12px;
  border: 1px solid $borderColor;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: $darkblue;
  background-color: $white;
  cursor: pointer;
}

#adminWrap #content article.module > section .moduleWrap select:focus {
  border: 1px solid $blue;
}

#adminWrap #content article.module > section .moduleWrap select:disabled, #adminWrap #content article.module > section .moduleWrap select[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

/* Custom inputs */
#adminWrap #content article.module > section .moduleWrap .customInput {
  cursor: pointer;
}

#adminWrap #content article.module > section .moduleWrap .customInput.inline {
  display: inline-block;
}

#adminWrap #content article.module > section .moduleWrap .customInput input {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
  width: auto;
  height: auto;
  padding: 0px;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label {
  font-weight: 300;
  display: block;
  vertical-align: middle;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label b {
  font-weight: 100;
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  color: #F6BB42;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input {
  display: none;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label:before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #dee2e6;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  outline: none !important;
  border-radius: 3px;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label:after {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  font-size: 10px;
  text-align: center;
  line-height: 21px;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: $white;
}

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input[type="checkbox"]:checked + label::before {
  background-color: $blue;
  border-color: $blue;
}

#adminWrap #content article.module > section .moduleWrap .customInput.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

#adminWrap #content article.module > section .moduleWrap .customInput.radio label:before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid rgba(120, 130, 140, 0.5);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
  outline: none !important;
}

#adminWrap #content article.module > section .moduleWrap .customInput.radio label:after {
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #2b2b2b;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 7px;
  left: 6px;
  margin-left: -20px;
  position: absolute;
  top: 6px;
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 7px;
}

#adminWrap #content article.module > section .moduleWrap .customInput.radio input[type="radio"]:checked + label::after {
  background-color: $blue;
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

#adminWrap #content article.module > section .moduleWrap .customInput.radio input[type="radio"]:checked + label::before {
  border-color: $blue;
}

#adminWrap #content article.module > section .moduleWrap .customInput.inline + .customInput.inline {
  margin-left: 20px;
}

#adminWrap #content article.module > section .moduleWrap ::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  color: $borderColor;
}

/* SORTING */
#adminWrap #content article.module > section .moduleWrap #sortable .sortable {
  position: relative;
  width: 30px;
}

#adminWrap #content article.module > section .moduleWrap .handle {
  display: inline-block;
  cursor: move;
}

#adminWrap #content article.module > section .moduleWrap .handle i {
  color: $blue !important;
  cursor: move !important;
}

#adminWrap #content article.module > section .moduleWrap .handle b {
  margin-left: 5px;
  font-size: 14px;
}

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  .dd-placeholder {
    position: relative;
    border: 1px dashed $lightgray;
  }
  .dd-list {
    padding-left: 30px;
  }
  &.dd-dragel {
    .dd-item {
      .dd3-content {
        border-top: 0;
      }
    }
  }
}

.dd-collapsed {
  .dd-list {
    display: none;
  }
}

.dd-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
  & > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    &:before {
      content: '+';
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      text-indent: 0;
    }
    &[data-action="collapse"]:before {
      content: '-';
    }
  }

}

.dd-handle {
  position: absolute;
  margin: 0;
  left: 10px;
  top: 11px;
  float: left;
  display: inline-block;
  cursor: move;
  i {
    font-size: 14px;
    color: $blue;
  }
}

.dd-placeholder, .dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  & > .dd-item {
    .dd-handle {
      margin-top: 0;
    }
  }
  .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  }
  & > .dd3-item {
    & > .dd3-content {
      margin: 0;
    }
  }
}

.dd3-content {
  display: block;
  padding: 6px 0px 6px 35px;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  border: 0px;
  border-top: 1px solid $light;
  .text {
    width: 80%;
    display: inline-block;
    font-weight: 500;
    i {
      margin-right: 20px;
      float: right;
      color: $blue;
      font-weight: 400;
      font-size: 12px;
      span {
        margin-right: 20px;
        color: $btnRed;
      }
    }
    em {
      color: $btnGreen;
      font-size: 10px;
    }
  }
  .delete_menu {
    width: 20%;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    box-sizing: border-box;
    font-weight: 500;
  }
}

.deleteContent {
  cursor: pointer;
  color: $btnRed;
  font-size: 14px;
}

/* COLOR PICKER */
.colorW {
  width: 33px;
  height: 33px;
  border: 1px solid $borderColor;
  position: absolute;
  left: 0;
}

.colorPick {
  input {
    padding-left: 45px !important;
  }
}

/* MENU selector */
.menuSelector {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 250px;
  margin-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menuSelector h4 {
  font-weight: 300;
}

.menuSelector .selDiv {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.menuSelector .selDiv select {
  width: 100%;
  min-width: auto;
}

/* MENU listed */
.menuListBox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: calc(100% - 250px);
  padding-left: 45px;
}

/* PERMISSIONS (admin) */
.permissionsCheck {
  margin-bottom: 15px;
}

.permissionsCheck li {
  list-style-type: none;
}

.permissionsCheck li ul {
  display: none;
  margin: 5px 10px;
}

.permissionsCheck li label i {
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;
}

.permissionsCheck li label span {
  vertical-align: middle;
  font-weight: 500;
  font-size: 15px;
}

.permissionsCheck.overflowed {
  max-height: 492px;
  width: 100%;
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  border: 1px solid #CCCCCC;
  padding: 10px;
  vertical-align: top;
}

/* MODULES - Boxes */
#adminWrap #content article.module > section .moduleWrap .optionBox {
  display: inline-block;
  vertical-align: top;
  width: 185px;
}

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab {
  display: block;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab:before {
  content: "";
  display: block;
  position: absolute;
  background-color: $blue;
  width: 0px;
  height: 1px;
  bottom: 5px;
  transition: ease-in-out 0.5s;
}

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab.active {
  color: $blue;
}

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab:hover:before {
  width: 90%;
}

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab span {
  font-size: 16px;
  color: inherit;
}

#adminWrap #content article.module > section .moduleWrap .contentBox {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 0px;
}

#adminWrap #content article.module > section .moduleWrap .optionBox + .contentBox {
  width: calc(100% - 185px);
  padding-left: 25px;
}

#adminWrap #content article.module > section .moduleWrap .contentBox .boxContent {
  display: none;
}

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox {
  margin-bottom: 25px;
  position: relative;
}

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox .help {
  font-size: 13px;
  margin-top: -8px !important;
  display: block;
  color: #818181;
}

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox .help #generateUrl {
  cursor: pointer;
  color: $blue;
}

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox.disabled {
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    cursor: not-allowed;
  }
}

#adminWrap {
  #content {
    .module {
      .editPart {
        margin-bottom: 45px;
        text-align: left;
        .rowBox {
          h3 {
            i {
              display: block;
            }
            &:before {
              display: none !important;
            }
          }
        }
      }
      .rowBox {
        &.inline {
          display: inline-block;
          &.vertical-top {
            vertical-align: top;
          }
        }
        &.two {
          width: 49%;
          &.first {
            margin-right: 1%;
          }
          &.last {
            margin-left: 1%;
          }
        }
        &.three {
          width: 32%;
          &.first {
            margin-right: 1%;
          }
          &:not(.first):not(.last) {
            margin-left: 1%;
            margin-right: 1%;
          }
          &.last {
            margin-left: 1%;
          }
        }
        &.four {
          width: 24%;
          &.first {
            margin-right: 1%;
          }
          &:not(.first):not(.last) {
            margin-left: 1%;
          }
          &.last {
            margin-left: 1%;
          }
        }
        &.five {
          width: 19%;
          &.first {
            margin-right: 1%;
          }
          &:not(.first):not(.last) {
            //margin-left: 1%;
            margin-right: 1%;
          }
          &.last {
            margin-left: 1%;
          }
        }
        &.prevFive {
          width: 79%;
          margin-right: 1%;
        }
      }
      table.striped {
        position: relative;
        th {
          i {
            font-size: 85%;
            font-style: normal;
            color: #909fa7;
          }
          &:nth-child(6) {
            text-align: center;
          }
        }
        &.disabled {
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.65);
          }
        }
      }
    }
  }
}

#adminWrap #content article.module > section .moduleWrap {
  .contentBox {
    .rowBox {
      .priceHelper {
        position: absolute;
        right: 7px;
        bottom: 4px;
        text-overflow: clip;
        width: auto;
        max-width: 58px;
        overflow: hidden;
        text-align: right;
        color: $btnGreen;
        border-left: 1px solid $borderColor;
        padding-left: 6px;
      }
    }
  }
}

/* MODULES - More */
#adminWrap #content article.module > section .moduleWrap .inlineDiv {
  display: inline-block;
  vertical-align: top;
  &.full {
    width: 100%;
  }
  &.half {
    width: 50%;
  }
  &.third {
    width: 33%;
  }
  &.quarter {
    width: 25%;
  }
  &.threequarter {
    width: 75%;
  }
  p {
    margin-bottom: 2px;
    color: $dark;
    font-weight: 300;
  }
  h3 {
    margin-bottom: 5px;
    position: relative;
  }
  h3:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #2086e5;
    width: 100%;
    height: 1px;
    bottom: -5px;
  }
  .rows {
    padding: 10px;
    border: 1px solid $light;
    border-top: 0px;
    width: 100%;
    &.editable {
      padding-right: 10%;
      position: relative;
    }
  }
}

.moduleWarning {
  margin: 20px auto;
  padding: 0 5px;
  border-left: 2px solid;
  span {
    color: inherit;
    display: block;
    margin: 5px auto;
  }
  hr {
    background-color: transparent;
    margin: 0;
    height: 1px;
    border: 0;
  }
  &.error {
    border-color: $btnRed;
    b {
      color: $btnRed;
    }
    hr {
      background-color: $btnRed;
    }
  }
  &.notice {
    border-color: $btnOrange;
    hr {
      background-color: $btnOrange;
    }
    b {
      color: $btnOrange;
    }
  }
  &.success {
    border-color: $btnGreen;
    b {
      color: $btnGreen;
    }
    hr {
      background-color: $btnGreen;
    }
  }
}

/* NOTIFICATIONS */
#notification {
  position: relative;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: $white;
  &.warning {
    color: #f8c200;
    border-color: #f8c200;
  }
  &.error {
    color: $btnRed;
    border-color: $btnRed;
  }
  &.info {
    color: #56afd7;
    border-color: #56afd7;
  }
  &.success {
    color: $btnGreen;
    border-color: $btnGreen;
  }
  &.logOut {
    position: absolute;
    top: 44px;
    right: 0px;
    width: 35%;
    background-color: $btnRed;
    color: $white;
    font-weight: 600;
    z-index: 999;
    i {
      margin-right: 20px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      &.extend {
        float: right;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
  span.text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20px);
  }
  i#closeAlert {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}

/* FILTRATION */
#adminWrap {
  #content {
    .filtration {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
      box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
      border-radius: 2px;
      .options {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 20px 15px;
        .group {
          display: flex;
          align-items: flex-end;
          margin-bottom: 5px;
          flex-wrap: wrap;
          .opt {
            margin-right: 10px;
            span {
              display: block;
              font-weight: 600;
            }
            input, select {
              display: inline-block;
              width: 200px;
              font-family: 'Open Sans';
              padding: 5px;
              border: 1px solid $borderColor;
              border-radius: 0;
              font-size: 14px;
              color: $darkblue;
              background-color: $white;
              &.datepicker {
                width: 155px;
                display: block;
              }
            }
            select {
              cursor: pointer;
            }
            &.action {
              justify-content: flex-end;
              margin-right: 0;
              margin-left: auto;
              .btn {
                margin-left: 10px;
                &.success {
                  margin-left: 0;
                }
              }
            }
          }
        }
        &.defaultFilter {
          background-color: $white;
          justify-content: space-between;
          align-items: flex-end;
          .action {
            width: 300px;
            .opt {
              display: flex;
              width: 100%;
              justify-content: flex-end;
              margin-right: 0;
              .btn {
                &.cancel {
                  margin-left: 15px;
                }
              }
            }
          }
        }
        &.advancedFilter {
          background-color: $lightBg;
          margin-top: 10px;
        }
      }
    }
    .exportBox {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: 0 1px 15px 1px rgba(180, 180, 195, 70%);
      border-radius: 2px;
      margin-bottom: 1px;
      padding: 10px 20px;
      align-items: center;
      background-color: $white;

      &.right {
        justify-content: flex-end;
      }
      select {
        display: inline-block;
        padding: 6px 12px 7px;
        border: 1px solid $borderColor;
        border-radius: 0;
        font-size: 14px;
        color: $darkblue;
        background-color: $white;
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }
}

/* DELETE DIALOG */
.ui-dialog {
  border-radius: 0px !important;
  border-color: $blue;
  padding: 0px;
  z-index: 999;
  .ui-dialog-titlebar {
    background: $blue;
    color: $white;
    border-radius: 0px;
  }
  button {
    border-radius: 3px !important;
    &.agreeButton {
      color: $white;
      background-color: $btnGreen;
      border-color: transparent !important;
    }
    &.closeButton {
      color: $white;
      background-color: $btnRed;
      border-color: transparent !important;
    }
    &.agreeButton, &.closeButton {
      span {
        color: inherit;
        background-color: inherit;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &.ui-dialog-titlebar-close {
      background-color: white;
      background-image: none;
      border: 0px;
    }
  }
}
#ui-datepicker-div {
  border-radius: 0px !important;
  border-color: $blue;
  padding: 3px;
  font-family: 'Open Sans';
  z-index: 9999!important;
  .ui-datepicker-header {
    background: $blue;
    color: $white;
    border-radius: 0px;
  }
  .ui-widget-header .ui-state-hover {
    background: transparent;
    border: 0px;
    top: 2px;
    cursor: pointer;
    &.ui-datepicker-next {
      right: 2px;
    }
    &.ui-datepicker-prev {
      left: 2px;
    }
  }
  .ui_tpicker_time_input {
    border: 1px solid $borderColor;
    background-color: #fff;
    width: 100%;
    padding: 5px;
  }
  .ui-state-default {
    background: $blue;
    color: $white;
    border-color: $white;
  }
  .ui-state-active {
    background: $darkblue;
  }
  .ui-state-hover {
    opacity: 0.8;
  }
  .ui_tpicker_hour, .ui_tpicker_minute {
    width: 97%;
    margin-left: 3%;
  }
  .ui_tpicker_time_label, .ui_tpicker_hour_label, .ui_tpicker_minute_label {
    font-weight: 600;
    font-size: 14px;
  }
  .ui_tpicker_time, .ui_tpicker_hour, .ui_tpicker_minute {
    margin-bottom: 5px;
  }
  .ui-slider-horizontal .ui-slider-handle {
    border-radius: 0px;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .ui-slider {
    border-radius: 0px;
    border: 1px solid $borderColor;
    background-color: $white;
  }
  .ui-datepicker-buttonpane button {
    border-radius: 0px;
  }
  .ui-datepicker-buttonpane .ui-priority-secondary {
    opacity: 1;
    background-color: $btnGreen;
  }
  .ui-datepicker-buttonpane .ui-datepicker-close {
    background-color: $btnRed;
  }
}
.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none;
}
.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}

/* PAGINATION */
#adminWrap #content #pagination {
  text-align: center;
  background: white;
  #classicPagi {
    display: block;
    padding: 10px 0px;
    .cont {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #1f86e5;
      padding: 0px 10px;
      margin: 0px -1px 0px 0px;
      &.active {
        padding: 4px 10px;
        color: #fff;
        background-color: #1f86e5;
      }
      &:hover {
        color: #fff;
        background-color: #1f86e5;
      }
      &.prev, &.next {
        margin: 0px 10px;
        font-weight: 600;
        padding: 0px;
        border: 0px;
        &:hover {
          color: inherit;
          background-color: inherit;
        }
      }
    }
  }
}

/* AUTHORIZATION PAGES */
body.image {
  background: url('//www.storage.ress-design.cz/system/img/loginBg.jpg');
  background-size: cover;
}
.loginBox {
  position: relative;
  margin: 0 auto;
  padding-top: calc(50vh - 63px * 8 / 2);
  width: 100%;
  max-width: 630px;
  .absoluteBox {
    position: absolute;
    left: -47px;
    top: 90px;
    .box {
      display: table;
      width: 62px;
      height: 70px;
      background-color: #107ab1;
      border-radius: 6px 0px 0px 6px;
      a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .content {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 25px 35px 20px;
    h1 {
      color: #ffffff;
      text-shadow: 1px 2px 3px rgba(#000000, 35%);
      font-size: 240%;
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      color: #ffffff;
      text-shadow: 1px 2px 3px rgba(#000000, 35%);
      font-size: 15px;
    }
    form {
      .formRow {
        margin: 15px 0px 5px;
        display: inline-block;
        width: 100%;
        label {
          cursor: pointer;
          width: 100%;
          .placeholder {
            display: inline-block;
            min-width: 125px;
            background-color: #2085e5;
            line-height: 46px;
            vertical-align: middle;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            padding-left: 25px;
            position: relative;
            &:after {
              display: inline-block;
              position: absolute;
              content: "";
              right: -7px;
              top: 15px;
              border-top: 8px solid transparent;
              border-bottom: 8px solid transparent;
              border-left: 7px solid #2085e5;
            }
          }
          input {
            width: calc(100% - 125px);
            display: inline-block;
            height: 46px;
            border: 0px;
            padding-left: 15px;
            box-sizing: border-box;
            background-color: #ffffff;
            background-image: none;
            border-radius: 0px;
          }
        }
      }
      .customCheckbox {
        display: inline-block;
        width: calc(100% - 95px);
        & + label span {
          color: #06a11e;
        }
      }
      .btn {
        margin-top: 15px;
      }
    }
  }
  .bottomBorder {
    background-color: #2086e5;
    color: #ffffff;
    text-align: right;
    padding: 15px 10px 10px 10px;
    font-weight: 400;
  }
  .loginMessage {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 12px;
    text-align: center;
    color: #ff000a;
    font-size: 16px;
  }
}

/* SYSTEM CONFIGURATION INFO */
.toggleConfig {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background: $lightgray;
    position: absolute;
    right: 0;
    top: 12px;
  }
  span {
    position: relative;
    background-color: $white;
    padding: 0 15px 0 0;
    color: $lightgray;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: $darkblue;
    }
  }
  &.active {
    span {
      i {
        transform: rotate(180deg);
      }
    }
  }
}
.configurationInfo {
  display: none;
}

/* PANELS */
.panel {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  margin: 0 0.5% 30px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  .body {
    width: 100%;
    padding: 10px;
    height: calc(100% - 40px);
    position: relative;
    .title {
      display: block;
      @include fontSize(30px);
      line-height: initial;
      font-weight: 700;
      margin-bottom: 12px;
    }
    .sub-title {
      display: block;
      @include fontSize(14px);
      line-height: initial;
      font-weight: 500;
      margin: -12px 0 12px 0;
    }
    .help {
      display: block;
      @include fontSize(14px);
      font-weight: 600;
    }
    .floating-icon{
      position: absolute;
      right: 25px;
      top: 25px;
      @include fontSize(35px);
      opacity: 0.2;
    }
    .inner{
      max-height: 170px;
      overflow-x: auto;
      width: calc(100% + 5px);
    }
  }
  .bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    height: 40px;
    .title {
      width: calc(100% - 30px);
      @include fontSize(15px);
      b {
        font-weight: normal;
      }
      i {
        font-weight: normal;
        @include fontSize(12px);
      }
    }
    .icon {
      width: 20px;
      margin-right: 10px;
    }

    &.color-blue {
      background-color: $blue;
      color: $white;
    }
    &.color-red {
      background-color: $btnRed;
      color: $white;
    }
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &_inline {
    display: inline-flex;
  }
  &_size-one {
    width: 100%;
  }
  &_size-two {
    width: 48%;
  }
  &_size-three {
    width: 32%;
  }
  &_size-four {
    width: 24%;
  }
  &-filter {
    width: 100%;
    margin-bottom: 40px;
    text-align: right;
    label {
      display: inline-block;
      position: relative;
      background-color: $white;
      box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      cursor: pointer;
      padding: 5px 8px;
      input {
        display: none;
      }
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.active {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height: 100%;
          background-color: $blue;
        }
      }
    }
    .panel-range {
      display: none;
      margin-top: 15px;
      input {
        font-family: 'Open Sans';
        width: 150px;
        padding: 6px 8px 5px 2px;
        border: 1px solid $borderColor;
        color: $darkblue;
        background-color: $white;
        margin-right: 5px;
        text-align: right;
      }
      &.active{
        display: block;
      }
    }
  }
}

.js-passwordSwitch{
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 6px;
  padding: 4px 10px;
  &:hover{
    opacity: 0.7;
  }
  i{
    cursor: inherit!important;
  }
}

/*RESPONSIVE??*/
@media screen and (max-width:1024px) {
  .loginBox{
    width: 90%;
    .content{
      padding: 12px;
      h1{
        font-size: 1.4rem;
      }
    }
  }
  #adminWrap{
    #sidebar{
      position: fixed;
      display: none;
      height: 100%;
    }
    #content{
      width: 100%;
      #toolbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
        .menuToggle{
          width: auto;
          margin-left: 15px;
          text-align: right;
        }
        .toolsList{
          display: inline-flex;
          flex-direction: row-reverse;
          .icon{
            padding: 8px 12px;
          }
        }
      }
      .module {
        .rowBox{
          &.two{
            width: 100%;
          }
        }
      }
    }
  }
  .panel {
    &_size-two {
      width: 100%;
    }
    &_size-three {
      width: 48%;
    }
    &_size-four {
      width: 48%;
    }
  }
}
@media screen and (max-width:680px) {
  .panel {
    &_size-three {
      width: 100%;
    }
    &_size-four {
      width: 100%;
    }
  }
  #adminWrap{
    #content{
      .filtration{
        .options{
          &.defaultFilter{
            flex-wrap: wrap;
            .action{
              .opt {
                flex-wrap: wrap;
                justify-content: flex-start;
                .btn{
                  width: 100%;
                  margin-left: 0!important;
                  margin-bottom: 8px;
                }
              }
            }
          }
          .group{
            width: 100%;
            .opt{
              margin-right: 0;
              width: 100%;
              select, input{
                width: 100% !important;
              }
            }
          }
        }
      }
      article.module{
        &  > section{
          .moduleWrap{
            overflow-x: auto;
            overflow-y: auto;
            width: 100%;
            & > table.striped{
              tbody, thead{
                tr{
                  th, td{
                    width: auto!important;
                    min-width: 80px;
                    word-break: normal;
                    &.actions{
                      .anchor{
                        display: block;
                        border-right: 0;
                        padding-right: 0;
                        margin-right: 0;
                        i{
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
            .optionBox{
              width: 100%;
              margin: 15px 0;
              border-bottom: 1px solid $blue;
              .boxOption{
                .tab{
                  display: inline-block;
                  margin-right: 15px;
                  cursor: pointer;
                }
              }
              & + .contentBox{
                padding-left: 0;
                width: 100%;
                .rowBox{
                  display: block!important;
                  width: 100%;
                  margin-right: 0!important;
                  margin-left: 0!important;
                  .mce-tinymce{
                    width: auto!important;
                  }
                }
              }
            }
          }
        }
        & > header{
          h2{
            width: 100%;
            padding-right: 0;
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
}