/* RESET */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box; }

html, body {
  height: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  vertical-align: middle; }

:hover, :focus, :visited, :link {
  outline: none;
  color: inherit; }

*:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

i:focus, button:focus, img:focus {
  outline: none; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  color: inherit; }

.align-right {
  text-align: right; }
.align-left {
  text-align: left; }
.align-center {
  text-align: center; }

.display-none {
  display: none; }

.cursor-pointer {
  cursor: pointer; }

/* DEFAULT STYLE */
body {
  font-family: "Open Sans", sans-serif;
  color: #343a40;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: #f3f5f7; }

.display-flex {
  display: flex; }

#colorbox {
  z-index: 999; }

/* LAYOUT WRAP */
#adminWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

/* LAYOUT - Sidebar */
#adminWrap #sidebar {
  display: table-cell;
  position: relative;
  width: 240px;
  background-color: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
  z-index: 10; }
  #adminWrap #sidebar .appInfo {
    display: block;
    text-align: center;
    border-bottom: 1px solid #575962;
    margin-bottom: 15px;
    padding: 20px 0px 10px; }
    #adminWrap #sidebar .appInfo h1 {
      display: block;
      font-family: 'Montserrat';
      font-size: 26px;
      font-weight: 700; }
    #adminWrap #sidebar .appInfo .build {
      display: block;
      font-size: 12px;
      color: #909fa7; }
  #adminWrap #sidebar .adminInfo {
    display: block;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px; }
    #adminWrap #sidebar .adminInfo .name {
      display: block;
      font-size: 20px;
      font-weight: 500; }
    #adminWrap #sidebar .adminInfo .level {
      display: block;
      font-size: 14px;
      color: #909fa7;
      font-family: 'Montserrat'; }

/* LAYOUT - Sidebar - Navigation */
#adminWrap #sidebar .navigation li.link {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  border-left: 3px solid transparent;
  color: #818181;
  margin-bottom: 5px; }
  #adminWrap #sidebar .navigation li.link a {
    display: inline-block;
    width: 100%;
    padding: 10px; }
    #adminWrap #sidebar .navigation li.link a:hover {
      text-decoration: none; }
    #adminWrap #sidebar .navigation li.link a .icon {
      margin-right: 15px; }
    #adminWrap #sidebar .navigation li.link a .text {
      display: inline-block;
      width: calc(100% - 45px); }
  #adminWrap #sidebar .navigation li.link .arrow {
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 10px;
    cursor: pointer; }
  #adminWrap #sidebar .navigation li.link.hasChild > .submenu {
    display: none; }
    #adminWrap #sidebar .navigation li.link.hasChild > .submenu li a {
      padding: 5px 0px 5px 40px;
      color: #818181; }
      #adminWrap #sidebar .navigation li.link.hasChild > .submenu li a:hover, #adminWrap #sidebar .navigation li.link.hasChild > .submenu li a.active {
        background-color: rgba(32, 134, 229, 0.15);
        color: #1a93d2; }
  #adminWrap #sidebar .navigation li.link.hasChild.active > .submenu {
    display: block;
    padding-bottom: 15px; }
  #adminWrap #sidebar .navigation li.link.hasChild .arrow:after {
    display: block;
    font-family: FontAwesome;
    content: '\f0da'; }
  #adminWrap #sidebar .navigation li.link.hasChild.active .arrow:after {
    content: '\f0d7';
    color: #2086e5; }
  #adminWrap #sidebar .navigation li.link.active {
    border-left: 3px solid #2086e5;
    background-color: #f4faff; }
  #adminWrap #sidebar .navigation li.link:hover {
    background-color: #f4faff; }
  #adminWrap #sidebar .navigation li.link.active a, #adminWrap #sidebar .navigation li.link:hover a {
    color: #2086e5; }

/* LAYOUT - Content */
#adminWrap #content {
  display: table-cell;
  position: relative;
  width: calc(100% - 240px);
  vertical-align: top; }

/* LAYOUT - Toolbar */
#adminWrap #content #toolbar {
  background-color: #2086e5;
  color: #fff;
  padding: 0px 15px; }

#adminWrap #content #toolbar .icon {
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat'; }

#adminWrap #content #toolbar .icon i {
  color: inherit;
  font-size: 18px;
  font-weight: 100; }

#adminWrap #content #toolbar .menuToggle {
  display: inline-block;
  vertical-align: middle;
  width: 50px; }

#adminWrap #content #toolbar .toolsList {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
  text-align: right; }

#adminWrap #content #toolbar .toolsList > li {
  display: inline-block;
  vertical-align: middle; }

#adminWrap #content #toolbar .toolsList .icon {
  display: inline-block;
  padding: 10px 20px; }

#adminWrap #content #toolbar .toolsList .icon:hover {
  background-color: rgba(0, 0, 0, 0.3); }

#adminWrap #content #toolbar .dropdown {
  position: relative; }
  #adminWrap #content #toolbar .dropdown ul {
    display: none;
    position: absolute;
    right: 0px;
    top: 45px;
    background: #fff;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    color: #575962;
    padding: 10px 0px;
    z-index: 9; }
    #adminWrap #content #toolbar .dropdown ul > li {
      display: block;
      cursor: pointer; }
      #adminWrap #content #toolbar .dropdown ul > li .text {
        color: inherit;
        padding: 5px 23px;
        display: inline-block;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s; }
      #adminWrap #content #toolbar .dropdown ul > li .icon {
        display: block;
        text-align: left;
        padding: 5px 20px; }
        #adminWrap #content #toolbar .dropdown ul > li .icon:hover {
          -webkit-transition: all 0s;
          -moz-transition: all 0s;
          -o-transition: all 0s;
          transition: all 0s; }
        #adminWrap #content #toolbar .dropdown ul > li .icon b {
          margin-left: 5px; }
        #adminWrap #content #toolbar .dropdown ul > li .icon i {
          vertical-align: middle; }
      #adminWrap #content #toolbar .dropdown ul > li:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s; }
    #adminWrap #content #toolbar .dropdown ul > .role {
      display: block;
      text-align: center;
      font-size: 80%;
      margin: -10px 0 0;
      font-weight: 600; }
  #adminWrap #content #toolbar .dropdown.collapsed ul {
    display: block; }

/* LAYOUT - Breadcrumbs */
#adminWrap #content #breadcrumbs {
  background-color: #fff;
  padding: 15px 35px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08); }

#adminWrap #content #breadcrumbs .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px; }

#adminWrap #content #breadcrumbs .pageTitle {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat';
  margin: 0px; }

#adminWrap #content #breadcrumbs .crumbs {
  color: #575962; }

#adminWrap #content #breadcrumbs .crumbs li {
  display: inline-block;
  vertical-align: middle; }

#adminWrap #content #breadcrumbs .crumbs li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

#adminWrap #content #breadcrumbs .crumbs li:hover > a {
  color: #2086e5; }

#adminWrap #content #breadcrumbs .crumbs li + li:before {
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  padding: 0px 10px;
  color: #909fa7;
  content: "\f105"; }

#adminWrap #content #breadcrumbs .crumbs li:last-of-type > a {
  color: #909fa7; }

/* LAYOUT - Content container  */
#adminWrap #content {
  position: relative; }
  #adminWrap #content #container {
    padding: 35px;
    position: relative; }
  #adminWrap #content #contentLoader {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    #adminWrap #content #contentLoader .icon {
      display: inline-block;
      width: 200px;
      height: 200px;
      background: url("../images/adminLoader.gif") no-repeat; }

/* LAYOUT - Content - Typography */
#adminWrap #content h1 {
  font-size: 36px;
  margin-bottom: 15px; }
#adminWrap #content h2 {
  font-size: 20px;
  margin-bottom: 10px; }
#adminWrap #content h3 {
  font-size: 16px;
  margin-bottom: 5px; }
  #adminWrap #content h3 i {
    font-size: 65%;
    font-style: normal;
    color: #909fa7; }
#adminWrap #content h4 {
  font-size: 15px;
  margin-bottom: 6px; }
#adminWrap #content h5 {
  font-size: 14px; }
#adminWrap #content h6 {
  font-size: 12px; }
#adminWrap #content p {
  margin-top: 0;
  margin-bottom: 1rem; }

/* Buttons - default hover is blue */
.btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  background-color: #fff;
  border-color: #dde6e9; }
  .btn:hover {
    background-color: #2086e5;
    border-color: #2086e5;
    color: #fff;
    opacity: 0.9; }
  .btn.small {
    padding: 2px 15px;
    font-size: 12px; }
  .btn.big {
    padding: 8px 30px;
    font-size: 16px; }
  .btn.success {
    background-color: #7bcb4d;
    border-color: #7bcb4d;
    color: #fff; }
  .btn.error {
    background-color: #f4516c;
    border-color: #f4516c;
    color: #fff; }
  .btn.warning {
    background-color: #F6BB42;
    border-color: #F6BB42;
    color: #fff; }
  .btn.inverted {
    background-color: #2086e5;
    border-color: #2086e5;
    color: #fff; }
    .btn.inverted:hover {
      background-color: #fff;
      border-color: #dde6e9;
      color: inherit; }
  .btn.success.inverted {
    background-color: transparent;
    border-color: #7bcb4d;
    color: #7bcb4d; }
    .btn.success.inverted:hover {
      background-color: #7bcb4d;
      border-color: #dde6e9;
      color: #fff; }
  .btn.error.inverted {
    background-color: transparent;
    border-color: #f4516c;
    color: #f4516c; }
    .btn.error.inverted:hover {
      background-color: #f4516c;
      border-color: #f4516c;
      color: #fff; }
  .btn.warning.inverted {
    background-color: transparent;
    border-color: #F6BB42;
    color: #F6BB42; }
    .btn.warning.inverted:hover {
      background-color: #F6BB42;
      border-color: #F6BB42;
      color: #fff; }
  .btn.icon {
    position: relative;
    padding-left: 50px; }
    .btn.icon:before {
      content: "";
      font-family: "FontAwesome";
      position: absolute;
      height: 100%;
      width: 40px;
      line-height: 33px;
      text-align: center;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1); }
    .btn.icon.small {
      padding-left: 40px; }
      .btn.icon.small:before {
        width: 30px;
        line-height: 24px; }
    .btn.icon.big {
      padding-left: 90px; }
      .btn.icon.big:before {
        width: 60px;
        line-height: 42px; }
    .btn.icon.back:before {
      content: "\f112"; }
    .btn.icon.save:before {
      content: "\f0c7"; }
    .btn.icon.cancel:before {
      content: "\f00d"; }
    .btn.icon.add:before {
      content: "\f067"; }
    .btn.icon.down:before {
      content: "\f149";
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1); }
    .btn.icon.pdf:before {
      content: "\f1c1"; }
    .btn.icon.hide:before {
      content: "\f070"; }
    .btn.icon.refresh:before {
      content: "\f021"; }
    .btn.icon.search:before {
      content: "\f002"; }
    .btn.icon.folder-open:before {
      content: "\f115"; }
    .btn.icon.trash:before {
      content: "\f014"; }
  .btn.empty {
    width: auto;
    height: 33px;
    padding: 0 15px; }
    .btn.empty:before {
      width: 100%; }
    .btn.empty.mg-l {
      margin-left: 5px; }

/* Floats */
#adminWrap #content .fl-right {
  float: right; }

#adminWrap #content .fl-left {
  float: left; }

#adminWrap #content .noCursor {
  cursor: default !important; }

/* Colors - for text */
#adminWrap #content .red {
  color: #f4516c !important; }

#adminWrap #content .green {
  color: #7bcb4d !important; }

#adminWrap #content .blue {
  color: #2086e5 !important; }

#adminWrap #content .gray {
  color: #909fa7 !important; }

#adminWrap #content .orange {
  color: #F6BB42 !important; }

/* LAYOUT - Content - Modules */
#adminWrap #content article.module {
  display: block;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  border-radius: 2px; }

#adminWrap #content article.module > header {
  display: block;
  border-bottom: 1px solid #e6eaec;
  margin-bottom: 25px;
  padding-bottom: 10px; }

#adminWrap #content article.module > header h2 {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 80%;
  padding-right: 10%;
  margin-bottom: 0px !important;
  line-height: 33px; }

#adminWrap #content article.module > header h2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  height: 3px;
  width: 90%;
  background-color: #2086e5; }

#adminWrap #content article.module > header h2 .activeLang {
  color: #f4516c;
  margin-left: 10px;
  font-style: normal;
  font-weight: 100; }

#adminWrap #content article.module > header .options {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: right; }

#adminWrap #content article.module > header .options .btn + .btn {
  margin-left: 20px; }

#adminWrap #content article.module > section .moduleWrap {
  text-align: left; }

#adminWrap #content article.module .helpText {
  color: #575962;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(87, 89, 98, 0.15); }
  #adminWrap #content article.module .helpText .infoIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
  #adminWrap #content article.module .helpText .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: calc(100% - 25px); }
    #adminWrap #content article.module .helpText .text a {
      color: #2086e5; }
  #adminWrap #content article.module .helpText.negativeMargin {
    margin-top: -10px; }

/* Tables */
#adminWrap #content article.module > section .moduleWrap table.striped {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent; }

#adminWrap #content article.module > section .moduleWrap > table.striped {
  margin: 20px auto; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > th, #adminWrap #content article.module > section .moduleWrap table.striped tr > td {
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding: 5px; }

#adminWrap #content article.module > section .moduleWrap table.striped.wrapped tr > th, #adminWrap #content article.module > section .moduleWrap table.striped.wrapped tr > td {
  word-break: break-word; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > th {
  font-weight: 600;
  font-family: 'Montserrat'; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td {
  border-top: 1px solid #e6eaec;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out; }

#adminWrap #content article.module > section .moduleWrap table.striped tr:nth-of-type(even) > td {
  background-color: rgba(230, 234, 236, 0.2); }

#adminWrap #content article.module > section .moduleWrap table.striped tr:hover > td {
  background-color: rgba(32, 133, 228, 0.12); }

#adminWrap #content article.module > section .moduleWrap table.striped tr.spacer > td {
  background-color: transparent;
  padding: 0px;
  border: 0px; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions {
  width: 300px;
  text-align: right; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions .anchor {
  cursor: pointer; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td.actions .anchor:hover {
  opacity: 0.5; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td i {
  cursor: pointer; }

#adminWrap #content article.module > section .moduleWrap table.striped tr td .activeLang {
  text-transform: uppercase;
  width: 30px;
  text-align: center;
  display: inline-block; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > td .visibility {
  font-size: 18px;
  cursor: pointer; }
  #adminWrap #content article.module > section .moduleWrap table.striped tr > td .visibility > i {
    font-size: inherit !important;
    cursor: inherit !important; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > .center {
  text-align: center; }

#adminWrap #content article.module > section .moduleWrap table.striped tr > .right {
  text-align: right; }

#adminWrap #content article.module > section .moduleWrap table.striped tr.blue td {
  padding-top: 20px;
  border-top: 0px;
  border-bottom: 1px solid #2285e5;
  font-weight: 600; }

#adminWrap #content article.module > section .moduleWrap table.striped tr.blue td i {
  font-weight: 400;
  font-size: 12px;
  cursor: default; }

#adminWrap #content article.module > section .moduleWrap table.striped tr td:first-of-type i, #adminWrap #content article.module > section .moduleWrap table.striped tr td:nth-of-type(2) i {
  font-weight: 400;
  font-size: 12px;
  cursor: default;
  margin: 0px 2px 0px 0px;
  color: #343a40; }

#adminWrap #content article.module > section .moduleWrap table.striped tr td .colorQ {
  min-width: 30px;
  width: 100%;
  height: 15px;
  display: inline-block;
  vertical-align: middle; }
#adminWrap #content article.module > section .moduleWrap table.striped tr td .small {
  font-size: 12px; }

/* Form elements */
#adminWrap #content article.module > section form {
  text-align: right; }

#adminWrap #content article.module > section form.text-left {
  text-align: left; }

#adminWrap #content article.module > section .moduleWrap input {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #dde6e9;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #575962;
  background-color: #fff; }

#adminWrap #content article.module > section .moduleWrap input:focus {
  border: 1px solid #2086e5; }

#adminWrap #content article.module > section .moduleWrap input:disabled, #adminWrap #content article.module > section .moduleWrap input[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

#adminWrap #content article.module > section .moduleWrap textarea {
  display: inline-block;
  width: 100%;
  height: 200px;
  padding: 6px 12px;
  border: 1px solid #dde6e9;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #575962;
  background-color: #fff; }
  #adminWrap #content article.module > section .moduleWrap textarea.auto {
    height: auto; }

#adminWrap #content article.module > section .moduleWrap textarea:focus {
  border: 1px solid #2086e5; }

#adminWrap #content article.module > section .moduleWrap textarea:disabled, #adminWrap #content article.module > section .moduleWrap textarea[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

#adminWrap #content article.module > section .moduleWrap .mce-container {
  box-shadow: none;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #575962;
  background-color: #fff; }

#adminWrap #content article.module > section .moduleWrap .mce-panel {
  border-color: #dde6e9;
  box-shadow: none; }

#adminWrap #content article.module > section .moduleWrap select {
  display: inline-block;
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #dde6e9;
  border-radius: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #575962;
  background-color: #fff;
  cursor: pointer; }

#adminWrap #content article.module > section .moduleWrap select:focus {
  border: 1px solid #2086e5; }

#adminWrap #content article.module > section .moduleWrap select:disabled, #adminWrap #content article.module > section .moduleWrap select[readonly] {
  background-color: #e9ecef;
  opacity: 1; }

/* Custom inputs */
#adminWrap #content article.module > section .moduleWrap .customInput {
  cursor: pointer; }

#adminWrap #content article.module > section .moduleWrap .customInput.inline {
  display: inline-block; }

#adminWrap #content article.module > section .moduleWrap .customInput input {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
  width: auto;
  height: auto;
  padding: 0px; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label {
  font-weight: 300;
  display: block;
  vertical-align: middle;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label b {
  font-weight: 100;
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
  color: #F6BB42; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input {
  display: none; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label:before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #dee2e6;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  outline: none !important;
  border-radius: 3px; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox label:after {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  font-size: 10px;
  text-align: center;
  line-height: 21px; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fff; }

#adminWrap #content article.module > section .moduleWrap .customInput.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #2086e5;
  border-color: #2086e5; }

#adminWrap #content article.module > section .moduleWrap .customInput.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer; }

#adminWrap #content article.module > section .moduleWrap .customInput.radio label:before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(120, 130, 140, 0.5);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
  outline: none !important; }

#adminWrap #content article.module > section .moduleWrap .customInput.radio label:after {
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #2b2b2b;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 7px;
  left: 6px;
  margin-left: -20px;
  position: absolute;
  top: 6px;
  transform: scale(0, 0);
  transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 7px; }

#adminWrap #content article.module > section .moduleWrap .customInput.radio input[type="radio"]:checked + label::after {
  background-color: #2086e5;
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

#adminWrap #content article.module > section .moduleWrap .customInput.radio input[type="radio"]:checked + label::before {
  border-color: #2086e5; }

#adminWrap #content article.module > section .moduleWrap .customInput.inline + .customInput.inline {
  margin-left: 20px; }

#adminWrap #content article.module > section .moduleWrap ::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #dde6e9; }

/* SORTING */
#adminWrap #content article.module > section .moduleWrap #sortable .sortable {
  position: relative;
  width: 30px; }

#adminWrap #content article.module > section .moduleWrap .handle {
  display: inline-block;
  cursor: move; }

#adminWrap #content article.module > section .moduleWrap .handle i {
  color: #2086e5 !important;
  cursor: move !important; }

#adminWrap #content article.module > section .moduleWrap .handle b {
  margin-left: 5px;
  font-size: 14px; }

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }
  .dd-list .dd-placeholder {
    position: relative;
    border: 1px dashed #909fa7; }
  .dd-list .dd-list {
    padding-left: 30px; }
  .dd-list.dd-dragel .dd-item .dd3-content {
    border-top: 0; }

.dd-collapsed .dd-list {
  display: none; }

.dd-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px; }
  .dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold; }
    .dd-item > button:before {
      content: '+';
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      text-indent: 0; }
    .dd-item > button[data-action="collapse"]:before {
      content: '-'; }

.dd-handle {
  position: absolute;
  margin: 0;
  left: 10px;
  top: 11px;
  float: left;
  display: inline-block;
  cursor: move; }
  .dd-handle i {
    font-size: 14px;
    color: #2086e5; }

.dd-placeholder, .dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; }

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }
  .dd-dragel > .dd-item .dd-handle {
    margin-top: 0; }
  .dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1); }
  .dd-dragel > .dd3-item > .dd3-content {
    margin: 0; }

.dd3-content {
  display: block;
  padding: 6px 0px 6px 35px;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  border: 0px;
  border-top: 1px solid #e6eaec; }
  .dd3-content .text {
    width: 80%;
    display: inline-block;
    font-weight: 500; }
    .dd3-content .text i {
      margin-right: 20px;
      float: right;
      color: #2086e5;
      font-weight: 400;
      font-size: 12px; }
      .dd3-content .text i span {
        margin-right: 20px;
        color: #f4516c; }
    .dd3-content .text em {
      color: #7bcb4d;
      font-size: 10px; }
  .dd3-content .delete_menu {
    width: 20%;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    box-sizing: border-box;
    font-weight: 500; }

.deleteContent {
  cursor: pointer;
  color: #f4516c;
  font-size: 14px; }

/* COLOR PICKER */
.colorW {
  width: 33px;
  height: 33px;
  border: 1px solid #dde6e9;
  position: absolute;
  left: 0; }

.colorPick input {
  padding-left: 45px !important; }

/* MENU selector */
.menuSelector {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 250px;
  margin-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.menuSelector h4 {
  font-weight: 300; }

.menuSelector .selDiv {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px; }

.menuSelector .selDiv select {
  width: 100%;
  min-width: auto; }

/* MENU listed */
.menuListBox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: calc(100% - 250px);
  padding-left: 45px; }

/* PERMISSIONS (admin) */
.permissionsCheck {
  margin-bottom: 15px; }

.permissionsCheck li {
  list-style-type: none; }

.permissionsCheck li ul {
  display: none;
  margin: 5px 10px; }

.permissionsCheck li label i {
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle; }

.permissionsCheck li label span {
  vertical-align: middle;
  font-weight: 500;
  font-size: 15px; }

.permissionsCheck.overflowed {
  max-height: 492px;
  width: 100%;
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  border: 1px solid #CCCCCC;
  padding: 10px;
  vertical-align: top; }

/* MODULES - Boxes */
#adminWrap #content article.module > section .moduleWrap .optionBox {
  display: inline-block;
  vertical-align: top;
  width: 185px; }

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab {
  display: block;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px; }

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #2086e5;
  width: 0px;
  height: 1px;
  bottom: 5px;
  transition: ease-in-out 0.5s; }

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab.active {
  color: #2086e5; }

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab:hover:before {
  width: 90%; }

#adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab span {
  font-size: 16px;
  color: inherit; }

#adminWrap #content article.module > section .moduleWrap .contentBox {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 0px; }

#adminWrap #content article.module > section .moduleWrap .optionBox + .contentBox {
  width: calc(100% - 185px);
  padding-left: 25px; }

#adminWrap #content article.module > section .moduleWrap .contentBox .boxContent {
  display: none; }

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox {
  margin-bottom: 25px;
  position: relative; }

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox .help {
  font-size: 13px;
  margin-top: -8px !important;
  display: block;
  color: #818181; }

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox .help #generateUrl {
  cursor: pointer;
  color: #2086e5; }

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox.disabled:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  cursor: not-allowed; }

#adminWrap #content .module .editPart {
  margin-bottom: 45px;
  text-align: left; }
  #adminWrap #content .module .editPart .rowBox h3 i {
    display: block; }
  #adminWrap #content .module .editPart .rowBox h3:before {
    display: none !important; }
#adminWrap #content .module .rowBox.inline {
  display: inline-block; }
  #adminWrap #content .module .rowBox.inline.vertical-top {
    vertical-align: top; }
#adminWrap #content .module .rowBox.two {
  width: 49%; }
  #adminWrap #content .module .rowBox.two.first {
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.two.last {
    margin-left: 1%; }
#adminWrap #content .module .rowBox.three {
  width: 32%; }
  #adminWrap #content .module .rowBox.three.first {
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.three:not(.first):not(.last) {
    margin-left: 1%;
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.three.last {
    margin-left: 1%; }
#adminWrap #content .module .rowBox.four {
  width: 24%; }
  #adminWrap #content .module .rowBox.four.first {
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.four:not(.first):not(.last) {
    margin-left: 1%; }
  #adminWrap #content .module .rowBox.four.last {
    margin-left: 1%; }
#adminWrap #content .module .rowBox.five {
  width: 19%; }
  #adminWrap #content .module .rowBox.five.first {
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.five:not(.first):not(.last) {
    margin-right: 1%; }
  #adminWrap #content .module .rowBox.five.last {
    margin-left: 1%; }
#adminWrap #content .module .rowBox.prevFive {
  width: 79%;
  margin-right: 1%; }
#adminWrap #content .module table.striped {
  position: relative; }
  #adminWrap #content .module table.striped th i {
    font-size: 85%;
    font-style: normal;
    color: #909fa7; }
  #adminWrap #content .module table.striped th:nth-child(6) {
    text-align: center; }
  #adminWrap #content .module table.striped.disabled:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.65); }

#adminWrap #content article.module > section .moduleWrap .contentBox .rowBox .priceHelper {
  position: absolute;
  right: 7px;
  bottom: 4px;
  text-overflow: clip;
  width: auto;
  max-width: 58px;
  overflow: hidden;
  text-align: right;
  color: #7bcb4d;
  border-left: 1px solid #dde6e9;
  padding-left: 6px; }

/* MODULES - More */
#adminWrap #content article.module > section .moduleWrap .inlineDiv {
  display: inline-block;
  vertical-align: top; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv.full {
    width: 100%; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv.half {
    width: 50%; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv.third {
    width: 33%; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv.quarter {
    width: 25%; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv.threequarter {
    width: 75%; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv p {
    margin-bottom: 2px;
    color: #343a40;
    font-weight: 300; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv h3 {
    margin-bottom: 5px;
    position: relative; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv h3:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #2086e5;
    width: 100%;
    height: 1px;
    bottom: -5px; }
  #adminWrap #content article.module > section .moduleWrap .inlineDiv .rows {
    padding: 10px;
    border: 1px solid #e6eaec;
    border-top: 0px;
    width: 100%; }
    #adminWrap #content article.module > section .moduleWrap .inlineDiv .rows.editable {
      padding-right: 10%;
      position: relative; }

.moduleWarning {
  margin: 20px auto;
  padding: 0 5px;
  border-left: 2px solid; }
  .moduleWarning span {
    color: inherit;
    display: block;
    margin: 5px auto; }
  .moduleWarning hr {
    background-color: transparent;
    margin: 0;
    height: 1px;
    border: 0; }
  .moduleWarning.error {
    border-color: #f4516c; }
    .moduleWarning.error b {
      color: #f4516c; }
    .moduleWarning.error hr {
      background-color: #f4516c; }
  .moduleWarning.notice {
    border-color: #F6BB42; }
    .moduleWarning.notice hr {
      background-color: #F6BB42; }
    .moduleWarning.notice b {
      color: #F6BB42; }
  .moduleWarning.success {
    border-color: #7bcb4d; }
    .moduleWarning.success b {
      color: #7bcb4d; }
    .moduleWarning.success hr {
      background-color: #7bcb4d; }

/* NOTIFICATIONS */
#notification {
  position: relative;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #fff; }
  #notification.warning {
    color: #f8c200;
    border-color: #f8c200; }
  #notification.error {
    color: #f4516c;
    border-color: #f4516c; }
  #notification.info {
    color: #56afd7;
    border-color: #56afd7; }
  #notification.success {
    color: #7bcb4d;
    border-color: #7bcb4d; }
  #notification.logOut {
    position: absolute;
    top: 44px;
    right: 0px;
    width: 35%;
    background-color: #f4516c;
    color: #fff;
    font-weight: 600;
    z-index: 999; }
    #notification.logOut i {
      margin-right: 20px;
      vertical-align: middle; }
    #notification.logOut span {
      vertical-align: middle; }
      #notification.logOut span.extend {
        float: right;
        margin-right: 15px;
        cursor: pointer; }
  #notification span.text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20px); }
  #notification i#closeAlert {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    font-size: 20px;
    cursor: pointer; }

/* FILTRATION */
#adminWrap #content .filtration {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  border-radius: 2px; }
  #adminWrap #content .filtration .options {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 20px 15px; }
    #adminWrap #content .filtration .options .group {
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;
      flex-wrap: wrap; }
      #adminWrap #content .filtration .options .group .opt {
        margin-right: 10px; }
        #adminWrap #content .filtration .options .group .opt span {
          display: block;
          font-weight: 600; }
        #adminWrap #content .filtration .options .group .opt input, #adminWrap #content .filtration .options .group .opt select {
          display: inline-block;
          width: 200px;
          font-family: 'Open Sans';
          padding: 5px;
          border: 1px solid #dde6e9;
          border-radius: 0;
          font-size: 14px;
          color: #575962;
          background-color: #fff; }
          #adminWrap #content .filtration .options .group .opt input.datepicker, #adminWrap #content .filtration .options .group .opt select.datepicker {
            width: 155px;
            display: block; }
        #adminWrap #content .filtration .options .group .opt select {
          cursor: pointer; }
        #adminWrap #content .filtration .options .group .opt.action {
          justify-content: flex-end;
          margin-right: 0;
          margin-left: auto; }
          #adminWrap #content .filtration .options .group .opt.action .btn {
            margin-left: 10px; }
            #adminWrap #content .filtration .options .group .opt.action .btn.success {
              margin-left: 0; }
    #adminWrap #content .filtration .options.defaultFilter {
      background-color: #fff;
      justify-content: space-between;
      align-items: flex-end; }
      #adminWrap #content .filtration .options.defaultFilter .action {
        width: 300px; }
        #adminWrap #content .filtration .options.defaultFilter .action .opt {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          margin-right: 0; }
          #adminWrap #content .filtration .options.defaultFilter .action .opt .btn.cancel {
            margin-left: 15px; }
    #adminWrap #content .filtration .options.advancedFilter {
      background-color: #f5f5f5;
      margin-top: 10px; }
#adminWrap #content .exportBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 1px 15px 1px rgba(180, 180, 195, 0.7);
  border-radius: 2px;
  margin-bottom: 1px;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff; }
  #adminWrap #content .exportBox.right {
    justify-content: flex-end; }
  #adminWrap #content .exportBox select {
    display: inline-block;
    padding: 6px 12px 7px;
    border: 1px solid #dde6e9;
    border-radius: 0;
    font-size: 14px;
    color: #575962;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px; }

/* DELETE DIALOG */
.ui-dialog {
  border-radius: 0px !important;
  border-color: #2086e5;
  padding: 0px;
  z-index: 999; }
  .ui-dialog .ui-dialog-titlebar {
    background: #2086e5;
    color: #fff;
    border-radius: 0px; }
  .ui-dialog button {
    border-radius: 3px !important; }
    .ui-dialog button.agreeButton {
      color: #fff;
      background-color: #7bcb4d;
      border-color: transparent !important; }
    .ui-dialog button.closeButton {
      color: #fff;
      background-color: #f4516c;
      border-color: transparent !important; }
    .ui-dialog button.agreeButton span, .ui-dialog button.closeButton span {
      color: inherit;
      background-color: inherit; }
    .ui-dialog button.agreeButton:hover, .ui-dialog button.closeButton:hover {
      opacity: 0.7; }
    .ui-dialog button.ui-dialog-titlebar-close {
      background-color: white;
      background-image: none;
      border: 0px; }

#ui-datepicker-div {
  border-radius: 0px !important;
  border-color: #2086e5;
  padding: 3px;
  font-family: 'Open Sans';
  z-index: 9999 !important; }
  #ui-datepicker-div .ui-datepicker-header {
    background: #2086e5;
    color: #fff;
    border-radius: 0px; }
  #ui-datepicker-div .ui-widget-header .ui-state-hover {
    background: transparent;
    border: 0px;
    top: 2px;
    cursor: pointer; }
    #ui-datepicker-div .ui-widget-header .ui-state-hover.ui-datepicker-next {
      right: 2px; }
    #ui-datepicker-div .ui-widget-header .ui-state-hover.ui-datepicker-prev {
      left: 2px; }
  #ui-datepicker-div .ui_tpicker_time_input {
    border: 1px solid #dde6e9;
    background-color: #fff;
    width: 100%;
    padding: 5px; }
  #ui-datepicker-div .ui-state-default {
    background: #2086e5;
    color: #fff;
    border-color: #fff; }
  #ui-datepicker-div .ui-state-active {
    background: #575962; }
  #ui-datepicker-div .ui-state-hover {
    opacity: 0.8; }
  #ui-datepicker-div .ui_tpicker_hour, #ui-datepicker-div .ui_tpicker_minute {
    width: 97%;
    margin-left: 3%; }
  #ui-datepicker-div .ui_tpicker_time_label, #ui-datepicker-div .ui_tpicker_hour_label, #ui-datepicker-div .ui_tpicker_minute_label {
    font-weight: 600;
    font-size: 14px; }
  #ui-datepicker-div .ui_tpicker_time, #ui-datepicker-div .ui_tpicker_hour, #ui-datepicker-div .ui_tpicker_minute {
    margin-bottom: 5px; }
  #ui-datepicker-div .ui-slider-horizontal .ui-slider-handle {
    border-radius: 0px;
    cursor: pointer; }
    #ui-datepicker-div .ui-slider-horizontal .ui-slider-handle:hover {
      opacity: 1; }
  #ui-datepicker-div .ui-slider {
    border-radius: 0px;
    border: 1px solid #dde6e9;
    background-color: #fff; }
  #ui-datepicker-div .ui-datepicker-buttonpane button {
    border-radius: 0px; }
  #ui-datepicker-div .ui-datepicker-buttonpane .ui-priority-secondary {
    opacity: 1;
    background-color: #7bcb4d; }
  #ui-datepicker-div .ui-datepicker-buttonpane .ui-datepicker-close {
    background-color: #f4516c; }

.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none; }

.ui-datepicker td span, .ui-datepicker td a {
  text-align: center; }

/* PAGINATION */
#adminWrap #content #pagination {
  text-align: center;
  background: white; }
  #adminWrap #content #pagination #classicPagi {
    display: block;
    padding: 10px 0px; }
    #adminWrap #content #pagination #classicPagi .cont {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #1f86e5;
      padding: 0px 10px;
      margin: 0px -1px 0px 0px; }
      #adminWrap #content #pagination #classicPagi .cont.active {
        padding: 4px 10px;
        color: #fff;
        background-color: #1f86e5; }
      #adminWrap #content #pagination #classicPagi .cont:hover {
        color: #fff;
        background-color: #1f86e5; }
      #adminWrap #content #pagination #classicPagi .cont.prev, #adminWrap #content #pagination #classicPagi .cont.next {
        margin: 0px 10px;
        font-weight: 600;
        padding: 0px;
        border: 0px; }
        #adminWrap #content #pagination #classicPagi .cont.prev:hover, #adminWrap #content #pagination #classicPagi .cont.next:hover {
          color: inherit;
          background-color: inherit; }

/* AUTHORIZATION PAGES */
body.image {
  background: url("//www.storage.ress-design.cz/system/img/loginBg.jpg");
  background-size: cover; }

.loginBox {
  position: relative;
  margin: 0 auto;
  padding-top: calc(50vh - 63px * 8 / 2);
  width: 100%;
  max-width: 630px; }
  .loginBox .absoluteBox {
    position: absolute;
    left: -47px;
    top: 90px; }
    .loginBox .absoluteBox .box {
      display: table;
      width: 62px;
      height: 70px;
      background-color: #107ab1;
      border-radius: 6px 0px 0px 6px; }
      .loginBox .absoluteBox .box a {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
  .loginBox .content {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 25px 35px 20px; }
    .loginBox .content h1 {
      color: #ffffff;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
      font-size: 240%;
      font-weight: 700;
      margin-bottom: 5px; }
    .loginBox .content p {
      color: #ffffff;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
      font-size: 15px; }
    .loginBox .content form .formRow {
      margin: 15px 0px 5px;
      display: inline-block;
      width: 100%; }
      .loginBox .content form .formRow label {
        cursor: pointer;
        width: 100%; }
        .loginBox .content form .formRow label .placeholder {
          display: inline-block;
          min-width: 125px;
          background-color: #2085e5;
          line-height: 46px;
          vertical-align: middle;
          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          padding-left: 25px;
          position: relative; }
          .loginBox .content form .formRow label .placeholder:after {
            display: inline-block;
            position: absolute;
            content: "";
            right: -7px;
            top: 15px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 7px solid #2085e5; }
        .loginBox .content form .formRow label input {
          width: calc(100% - 125px);
          display: inline-block;
          height: 46px;
          border: 0px;
          padding-left: 15px;
          box-sizing: border-box;
          background-color: #ffffff;
          background-image: none;
          border-radius: 0px; }
    .loginBox .content form .customCheckbox {
      display: inline-block;
      width: calc(100% - 95px); }
      .loginBox .content form .customCheckbox + label span {
        color: #06a11e; }
    .loginBox .content form .btn {
      margin-top: 15px; }
  .loginBox .bottomBorder {
    background-color: #2086e5;
    color: #ffffff;
    text-align: right;
    padding: 15px 10px 10px 10px;
    font-weight: 400; }
  .loginBox .loginMessage {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 12px;
    text-align: center;
    color: #ff000a;
    font-size: 16px; }

/* SYSTEM CONFIGURATION INFO */
.toggleConfig {
  position: relative;
  text-align: left;
  margin-bottom: 10px; }
  .toggleConfig:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #909fa7;
    position: absolute;
    right: 0;
    top: 12px; }
  .toggleConfig span {
    position: relative;
    background-color: #fff;
    padding: 0 15px 0 0;
    color: #909fa7;
    cursor: pointer; }
    .toggleConfig span i {
      margin-right: 5px; }
    .toggleConfig span:hover {
      color: #575962; }
  .toggleConfig.active span i {
    transform: rotate(180deg); }

.configurationInfo {
  display: none; }

/* PANELS */
.panel {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0 0.5% 30px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 2px; }
  .panel .body {
    width: 100%;
    padding: 10px;
    height: calc(100% - 40px);
    position: relative; }
    .panel .body .title {
      display: block;
      font-size: 30px;
      font-size: 1.875rem;
      line-height: initial;
      font-weight: 700;
      margin-bottom: 12px; }
    .panel .body .sub-title {
      display: block;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: initial;
      font-weight: 500;
      margin: -12px 0 12px 0; }
    .panel .body .help {
      display: block;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 600; }
    .panel .body .floating-icon {
      position: absolute;
      right: 25px;
      top: 25px;
      font-size: 35px;
      font-size: 2.1875rem;
      opacity: 0.2; }
    .panel .body .inner {
      max-height: 170px;
      overflow-x: auto;
      width: calc(100% + 5px); }
  .panel .bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    height: 40px; }
    .panel .bar .title {
      width: calc(100% - 30px);
      font-size: 15px;
      font-size: 0.9375rem; }
      .panel .bar .title b {
        font-weight: normal; }
      .panel .bar .title i {
        font-weight: normal;
        font-size: 12px;
        font-size: 0.75rem; }
    .panel .bar .icon {
      width: 20px;
      margin-right: 10px; }
    .panel .bar.color-blue {
      background-color: #2086e5;
      color: #fff; }
    .panel .bar.color-red {
      background-color: #f4516c;
      color: #fff; }
  .panel-wrap {
    display: flex;
    flex-wrap: wrap; }
  .panel_inline {
    display: inline-flex; }
  .panel_size-one {
    width: 100%; }
  .panel_size-two {
    width: 48%; }
  .panel_size-three {
    width: 32%; }
  .panel_size-four {
    width: 24%; }
  .panel-filter {
    width: 100%;
    margin-bottom: 40px;
    text-align: right; }
    .panel-filter label {
      display: inline-block;
      position: relative;
      background-color: #fff;
      box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      cursor: pointer;
      padding: 5px 8px; }
      .panel-filter label input {
        display: none; }
      .panel-filter label:not(:last-of-type) {
        margin-right: 10px; }
      .panel-filter label.active:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #2086e5; }
    .panel-filter .panel-range {
      display: none;
      margin-top: 15px; }
      .panel-filter .panel-range input {
        font-family: 'Open Sans';
        width: 150px;
        padding: 6px 8px 5px 2px;
        border: 1px solid #dde6e9;
        color: #575962;
        background-color: #fff;
        margin-right: 5px;
        text-align: right; }
      .panel-filter .panel-range.active {
        display: block; }

.js-passwordSwitch {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 6px;
  padding: 4px 10px; }
  .js-passwordSwitch:hover {
    opacity: 0.7; }
  .js-passwordSwitch i {
    cursor: inherit !important; }

/*RESPONSIVE??*/
@media screen and (max-width: 1024px) {
  .loginBox {
    width: 90%; }
    .loginBox .content {
      padding: 12px; }
      .loginBox .content h1 {
        font-size: 1.4rem; }

  #adminWrap #sidebar {
    position: fixed;
    display: none;
    height: 100%; }
  #adminWrap #content {
    width: 100%; }
    #adminWrap #content #toolbar {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      align-items: center; }
      #adminWrap #content #toolbar .menuToggle {
        width: auto;
        margin-left: 15px;
        text-align: right; }
      #adminWrap #content #toolbar .toolsList {
        display: inline-flex;
        flex-direction: row-reverse; }
        #adminWrap #content #toolbar .toolsList .icon {
          padding: 8px 12px; }
    #adminWrap #content .module .rowBox.two {
      width: 100%; }

  .panel_size-two {
    width: 100%; }
  .panel_size-three {
    width: 48%; }
  .panel_size-four {
    width: 48%; } }
@media screen and (max-width: 680px) {
  .panel_size-three {
    width: 100%; }
  .panel_size-four {
    width: 100%; }

  #adminWrap #content .filtration .options.defaultFilter {
    flex-wrap: wrap; }
    #adminWrap #content .filtration .options.defaultFilter .action .opt {
      flex-wrap: wrap;
      justify-content: flex-start; }
      #adminWrap #content .filtration .options.defaultFilter .action .opt .btn {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 8px; }
  #adminWrap #content .filtration .options .group {
    width: 100%; }
    #adminWrap #content .filtration .options .group .opt {
      margin-right: 0;
      width: 100%; }
      #adminWrap #content .filtration .options .group .opt select, #adminWrap #content .filtration .options .group .opt input {
        width: 100% !important; }
  #adminWrap #content article.module > section .moduleWrap {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%; }
    #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr th, #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr td, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr th, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr td {
      width: auto !important;
      min-width: 80px;
      word-break: normal; }
      #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr th.actions .anchor, #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr td.actions .anchor, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr th.actions .anchor, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr td.actions .anchor {
        display: block;
        border-right: 0;
        padding-right: 0;
        margin-right: 0; }
        #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr th.actions .anchor i, #adminWrap #content article.module > section .moduleWrap > table.striped tbody tr td.actions .anchor i, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr th.actions .anchor i, #adminWrap #content article.module > section .moduleWrap > table.striped thead tr td.actions .anchor i {
          display: none; }
    #adminWrap #content article.module > section .moduleWrap .optionBox {
      width: 100%;
      margin: 15px 0;
      border-bottom: 1px solid #2086e5; }
      #adminWrap #content article.module > section .moduleWrap .optionBox .boxOption .tab {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer; }
      #adminWrap #content article.module > section .moduleWrap .optionBox + .contentBox {
        padding-left: 0;
        width: 100%; }
        #adminWrap #content article.module > section .moduleWrap .optionBox + .contentBox .rowBox {
          display: block !important;
          width: 100%;
          margin-right: 0 !important;
          margin-left: 0 !important; }
          #adminWrap #content article.module > section .moduleWrap .optionBox + .contentBox .rowBox .mce-tinymce {
            width: auto !important; }
  #adminWrap #content article.module > header h2 {
    width: 100%;
    padding-right: 0; }
    #adminWrap #content article.module > header h2:before {
      display: none; } }

/*# sourceMappingURL=adminLayout.css.map */
