/* RESPONSIVA */
/* ====================================================== 1530px */
@media (max-width:1530px) {
#left_column {
    width: 100%;
    min-height: auto;
}
#right_column {
    width: 100%;
    min-height: auto;
    margin-top:20px;
}
}

/* ====================================================== 1242px */
@media (max-width:1242px) {
#products_table .tabs{
width: 32%;
margin: 0px 4px 2px 0px;
border-bottom: 1px solid #CCCCCC!important;
}
}
/* ====================================================== 1200px */
@media (max-width:1200px) {
#right_column .graph{
    width:100%!important;
    text-align: center;
    height:100%!important;
}
#right_column .graph .legend_block{
    height:auto!important;
    width:100%!important;
}
#right_column .graph .legend_wrap{
    height:auto!important;
}
#right_column .graph .legend{
    height:auto!important;
    margin-top:20px!important;
}
#right_column .graph .legend_block .legend_wrap .legend.desc{
    margin-top:50px!important;    
}
#right_column .graph .object_block{
    width:80%!important;
}
#right_column .graph .object_block .object_wrap .graph_bar{
    width:5%!important;
}


.main-header__date button {
	display: none
}
.main-stats__subtitle {
	margin-top: 15px
}
.stat-circle {
	margin-top: 5px
}
.pie-container .pie-number {
	margin-left: -4px
}
.pie-container .pie-number h3 {
	font-size: 40px
}
.pie-container .pie-number h3:before {
	font-size: 30px;
	left: 0
}
.pie-container .pie-number p {
	display: none
}
}

/* ====================================================== 1024px */
@media (max-width:1024px) {
#products_table .tab_content .left_part, #products_table .tab_content .right_part {
    width: 100%;
}
#products_table .tabs {
    width: auto;
    margin: 10px 4px 0px 0px;
    border-bottom: 0px!important;
}
}

/* ====================================================== 995px */
@media (max-width:995px) {
#right_column {
    display:none;
}


.sidebar {
	width: 69px
}
.main-nav__icon {
	margin-right: 10px
}
.profile__img, .profile__img img {
	width: 50px;
	height: 50px
}
.user-info__name, .user-info__role {
	display: none
}
.user-info__numbers li {
	width: 60px;
	margin-top: 12px
}
.user-info__numbers li i {
	margin-bottom: 3px
}
.main-nav__submenu li a {
	padding: 13px 5px;
	text-align: center;
	line-height: 1.5em
}
.footer-brand {
	width: 100%;
	height: auto;
	background-color: transparent;
	border: 0;
	text-align: center
}
.content {
	padding: 46px 40px 160px
}
.main-header__alert button:after {
	display: none
}
.main-header__alert button:last-child {
	margin-right: 0;
	margin-left: 0
}
.main-brand__container {
	right: 3px
}
.main-brand__container label {
	display: none
}
.main-nav__link .btn-circle.badge {
	top: 5px;
	right: 5px;
	-webkit-transform: translateY(0px);
	transform: translateY(0px)
}
.pie-container .pie-number {
	margin-left: -4px
}
.pie-container .pie-number h3 {
	font-size: 70px
}
.pie-container .pie-number p {
	display: block
}
}
/* ====================================================== 767px */
@media (max-width:767px) {
.profile {
	width: 69px;
	padding-left: 15px
}
.profile li:nth-child(2), .profile li:nth-child(3), .profile li:nth-child(4) {
	display: none
}
.main-search {
	left: 70px
}
.main-brand {
	text-align: center
}
.main-brand__container {
	position: relative;
	right: auto
}
.main-header__nav {
	width: 100%;
	text-align: center
}
.main-header__title, .main-header__title i {
	font-size: 20px
}
.content {
	padding: 26px 40px 160px
}
.main-header, .main-stats__stat {
	margin-bottom: 10px
}
.main-header__alert {
	position: relative;
	text-align: center;
	margin-top: 22px
}
.main-stats__resume {
	margin-top: 0
}
.main-header__breadcrumb {
	display: none;
	margin-left: 0;
	margin-top: 0
}
.main-header__breadcrumb li {
	float: none
}
.main-header__breadcrumb li:after {
	display: none
}
.main-stats {
	margin-top: 25px
}
.main-stats__resume, .main-stats__title {
	display: inline-block;
	width: 46%;
	vertical-align: middle;
	margin-bottom: 10px
}
.main-stats__subtitle .main-stats__resume {
	display: none
}
.main-search {
	padding-left: 50px
}
.main-search input {
	width: 132px;
	padding-right: 15px
}
.main-search button {
	display: none
}
.main-search label {
	left: 20px
}
.main-brand {
	width: calc(100% - 69px - 182px - 2px)
}
.table-responsive {
	border: 0;
	border-bottom: 4px solid rgba(0,0,0,.7)
}
}
/* ====================================================== 480px */
@media (max-width:480px) {
.stat-circle {
	width: 70px;
	height: 70px
}
.stat-circle h3 {
	font-size: 28px;
	line-height: 70px
}
.main-stats__resume, .main-stats__title {
	display: block;
	width: 100%;
	text-align: center
}
.main-stats__subtitle {
	font-size: 17px;
	margin-left: 16px;
	line-height: 20px
}
.error-wrap {
	font-size: 50px
}
body {
	background-repeat: no-repeat;
	overflow-x: hidden
}
input[name^=tab-radio]+label.btn-md {
	font-size: 14px;
	padding: 12px 9px
}
.main-header__alert button span {
	display: none
}
.sidebar {
	width: 100%;
	position: absolute;
	z-index: 999;
	max-height: 0;
	overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 0;
	-webkit-transition: max-height .3s;
	transition: max-height .3s;
}
.sidebar.open {
	max-height: 1000px
}
.main-nav:after {
	display: none
}
.main-nav__link .btn-circle.badge {
	top: 20px;
	right: 20px
}
.profile {
	width: 69px;
	padding-left: 15px
}
.profile li.mobile-nav {
	display: table-cell
}
.profile li:not(.mobile-nav) {
	display: none
}
.pie-container .pie-number {
	margin-left: -4px
}
.pie-container .pie-number h3 {
	font-size: 40px
}
.pie-container .pie-number h3:before {
	font-size: 25px;
	left: -5px
}
.pie-container .pie-number p {
	display: none
}
.c-btn--check {
	right: 36px;
	top: 53px
}
.c-btn--check:after {
	font-size: 23px
}
.message .c-btn--more {
	right: 17px;
	top: 27px
}
.message .c-btn--more:after {
	font-size: 22px
}
.message__heading span {
	margin-top: 4px;
	margin-left: 0
}
.message__details table td {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px
}
.members__controls--total {
	font-size: 14px;
	padding-top: 12px;
	padding-left: 24px;
	line-height: 20px;
	text-align: center
}
.message__msg {
	padding-left: 0;
	padding-right: 0;
	padding-top: 7px
}
.message__controls li a span {
	display: none
}
.message:after {
	top: 33px;
	left: 79px
}
.message .media, .message .media-body {
	overflow: initial
}
.message__controls--cont {
	display: none
}
input.msg-o:checked~.message__controls--cont {
	display: block
}
.message__controls--opener {
	top: auto;
	bottom: 14px;
	right: 18px
}
input.msg-o:checked+label {
	color: rgba(255,255,255,0)
}
.message__write input[type=text] {
	padding-left: 16px;
	padding-right: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.message__details {
	display: none
}
input[type=checkbox].btn-more-check:checked~.message__details {
	display: block
}
.message__details table {
	margin-top: 0
}
.message__details .btn-circle {
	border-width: 0;
	padding: 0
}
.message__details .btn-circle:hover {
	background: 0 0
}
.message__location {
	clear: both;
	padding-top: 10px;
	margin-bottom: 10px
}
.message__heading {
	padding-right: 15px;
	line-height: 22px
}
.members__load-more, .members__search {
	font-size: 15px
}
.members__load-more i, .members__load-more span, .members__search i, .members__search span {
	display: none
}
.widget__title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.widget__title h3 {
	display: inline
}
.widget__title i {
	display: inline;
	vertical-align: sub;
	margin-right: 10px;
	margin-left: 16px
}
.widget:not(.widget__login):first-child {
	margin-top: 22px
}
.main-search {
	display: none
}
.main-brand {
	width: calc(100% - 70px)
}
}
/* ====================================================== 1240px */
@media (max-width:1240px) {
.main-stats__subtitle {
	clear: both
}
.main-stats__stat:not(:first-child) {
	padding-top: 0
}
}